<!--
* @Author                : 0K00<qdouvillez@gmail.com>
* @CreatedDate           : 2023-09-29 09:37:00
* @LastEditors           : 0K00<qdouvillez@gmail.com>
* @LastEditDate          : 2024-01-17 19:01:48
-->

<div class="view-users-settings">
  <ng-template [ngIf]="users" [ngIfElse]="loading">
    <div class="users-list">
      <div class="user-item" *ngFor="let user of users">
        <div>{{user.id}}</div>
        <div>{{user.name}}</div>
        <div>{{user.email}}</div>
        <core-checkbox [disabled]="!perm.check({type: 'users', actions: ['update']})" label="Is admin" [(checked)]="user.isAdmin" (checkedChange)="updateUser(user.id)"/>
        <core-checkbox [disabled]="!perm.check({type: 'users', actions: ['update']})" label="Is Validated" [(checked)]="user.validate" (checkedChange)="updateUser(user.id)"/>
      </div>
    </div>
  </ng-template>

  <ng-template #loading>
    <div class="loading">
      <core-loading/>
    </div>
  </ng-template>
</div>
