/*****************************************************************************
 * @Author                : Jbristhuille<jbristhuille@gmail.com>             *
 * @CreatedDate           : 2024-08-27 10:19:28                              *
 * @LastEditors           : Jbristhuille<jbristhuille@gmail.com>             *
 * @LastEditDate          : 2024-08-30 11:10:22                              *
 ****************************************************************************/

.view-versions {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding: 16px;
  position: relative;

  .versions-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .versions {
      display: grid;
      grid-template-columns: 1fr 32px;
      align-items: center;
      gap: 8px;
    }

    .add-button {
      align-self: center;
    }
  }

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
