<!--
* @Author                : Jbristhuille<jbristhuille@gmail.com>
* @CreatedDate           : 2024-08-27 10:19:00
* @LastEditors           : Jbristhuille<jbristhuille@gmail.com>
* @LastEditDate          : 2024-08-30 11:10:42
-->

<div class="view-versions">
  <ng-template [ngIf]="versions" [ngIfElse]="loading">
    <div class="versions-container">
      <div class="versions" *ngFor="let version of versions">
        <core-input [(value)]="version.name"
                    placeholder="Version name"
                    (focusout)="save(version)"
                    (keydown.enter)="save(version)"/>

        <core-button  (click)="delete(version.id)"
                      [type]="'basic'"
                      [style]="'warn'"
                      [size]="'icon'"
                      tooltip="Delete version">
          <core-icon icon="minus"/>
      </core-button>
      </div>

      <core-button  class="add-button"
                    (click)="createVersion()"
                    type="flat"
                    [style]="'primary'"
                    size="medium"
                    tooltip="Create version">
        <core-icon icon="plus"/>
      </core-button>
    </div>
  </ng-template>

  <ng-template #loading>
    <div class="loading">
      <core-loading/>
    </div>
  </ng-template>
</div>
