/*****************************************************************************
 * @Author                : 0K00<qdouvillez@gmail.com>                       *
 * @CreatedDate           : 2023-03-18 00:46:23                              *
 * @LastEditors           : 0K00<qdouvillez@gmail.com>                       *
 * @LastEditDate          : 2023-03-20 18:26:23                              *
 *                                                                           *
 ****************************************************************************/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.outboxModal{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modal-content {
  width: 100%;
  max-width: 70vw;
  margin-top: 10%;
}
