<!--
* @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>
* @CreatedDate           : 2023-10-05 17:49:00
* @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>
* @LastEditDate          : 2023-10-05 21:19:10
-->

<div class="view-first-launch">
  <header>
    <h1>Welcome to Statch</h1>
    <h2>Please enter your configuration</h2>
  </header>

  <div class="config-form">
    <core-input label="Hostname"
                id="hostname"
                [isLabel]="true"
                placeholder="halfsquare.fr"
                [(value)]="host"
                (keydown.enter)="saveConfig()"/>

    <core-input label="API Port"
                id="apiPort"
                [isLabel]="true"
                placeholder="Default: 8420"
                [(value)]="apiPort"
                (keydown.enter)="saveConfig()"/>

    <core-input label="Socket Port"
                id="socketPort"
                [isLabel]="true"
                placeholder="Default: 8421"
                [(value)]="socketPort"
                (keydown.enter)="saveConfig()"/>

    <core-button  class="btn"
                  label="save"
                  (click)="saveConfig()"
                  type="flat"
                  [style]="'primary'"/>
  </div>
</div>
