/*****************************************************************************
 * @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @CreatedDate           : 2023-10-05 17:49:58                              *
 * @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @LastEditDate          : 2023-10-06 11:41:54                              *
 ****************************************************************************/

.view-first-launch {
  padding: 64px;
  box-sizing: border-box;

  header {
    h1 {
      font-size: 96px;
    }

    margin-bottom: 64px;
  }

  .config-form {
    display: grid;
    grid-gap: 16px;

    .mode-field {
      display: grid;
      grid-gap: 8px;
    }

    .btn {
      justify-self: flex-end;
    }
  }
}
