<!--
* @Author                : 0K00<qdouvillez@gmail.com>
* @CreatedDate           : 2023-11-16 15:39:00
* @LastEditors           : 0K00<qdouvillez@gmail.com>
* @LastEditDate          : 2024-01-16 19:12:53
-->

<div class="view-database-settings">
  <section>
    <h3>Import</h3>

    <div class="input-file">
      <input type="file" accept="*.db" #file />
      <core-button [disabled]="!perm.check({type: 'database', actions: ['import']})" label="Import database" type="flat" (click)="import()" />
    </div>

    <div class="input-file">
      <input type="file" accept="*.zip" #fileImg />
      <core-button label="Import images" type="flat" (click)="importImg()" />
    </div>
  </section>

  <section>
    <h3>Export</h3>
    <core-button [disabled]="!perm.check({type: 'database', actions: ['export']})" label="Dump database" type="flat" (click)="dump()" />
    <core-button [disabled]="!perm.check({type: 'database', actions: ['export']})" label="Dump images" type="flat" (click)="dumpImg()" />
  </section>
</div>
