/*****************************************************************************
 * @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @CreatedDate           : 2023-05-30 11:59:22                              *
 * @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @LastEditDate          : 2023-09-29 16:26:04                              *
 ****************************************************************************/

 @import '~quill/dist/quill.bubble.css';

 *, *::before, *::after {
  margin: 0;
  padding: 0;
}

.comment .content img {
  max-width: 100%;
  border-radius: 8px;
}

html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: #17161a;
  color: #eaeaea;
  font-size: 12px;

  /* width */
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #585858;
    border-radius: 999px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #666666;
  }
}

.btn {
  color: #eaeaea;
  text-decoration: none;

  &.active {
    color: #0055ff;
  }
}

a {
  color: #0055ff;
  text-decoration: none;

  &:hover {
    color: #1b67ff;
    text-decoration: underline;
  }
}


.ql-bubble {
  .ql-tooltip {
    background: red;
  }

  .ql-tooltip.ql-flip .ql-tooltip-arrow {
    border-color: red transparent transparent transparent;
  }
}
