.ptt-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;

  .subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #a7a7a7;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .block.id:hover {
      .content.id {
        .copy {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .block {
      display: grid;
      grid-template-columns: minmax(80px,max-content) minmax(104px,100%);
      align-items: center;
      gap: 16px;
      min-height: 36px;

      .heading {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #a7a7a7;
      }

      .content {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #eaeaea;
      }

      .content.id {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4px;

        .copy {
          visibility: hidden;
          opacity: 0;
          cursor: pointer;
          padding: 4px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          border-radius: 6px;
          color: #3d3d3d;

          &:hover {
            background: #303030;
            color: #eaeaea;
          }

          &:focus, &:active {
            box-shadow: 0 0 0 2px #1e1e1e;
          }
        }
      }

      .content.list {
        a {
          display: flex;
          align-items: center;
          gap: 4px;
          color: #0055ff;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
