<!--
* @Author                : 0K00<qdouvillez@gmail.com>
* @CreatedDate           : 2023-09-28 16:23:00
* @LastEditors           : 0K00<qdouvillez@gmail.com>
* @LastEditDate          : 2024-01-16 19:17:19
-->

<div class="section-labels-editor">
  <div class="head" *ngIf="perm.getPermissions().labels.create">
    <component-labels-edit class="edit" [(label)]="nLabel" (callback)="createLabel()"/>
    <core-button type="flat" label="Add" (click)="createLabel()"/>
  </div>

  <div class="labels-list">
    <component-labels-settings-items *ngFor="let label of labels" [label]="label"/>
  </div>
</div>
