/*****************************************************************************
 * @Author                : 0K00<qdouvillez@gmail.com>                       *
 * @CreatedDate           : 2023-02-22 12:07:27                              *
 * @LastEditors           : 0K00<qdouvillez@gmail.com>                       *
 * @LastEditDate          : 2023-02-22 12:07:27                              *
 *                                                                           *
 ****************************************************************************/

#signup {
  background: rgba(34, 34, 34, 1);
  height: 100vh;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#signup .container {
  display: flex;
  flex-direction: column;
}

#signup .title {
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 112px;
  color: rgba(255, 255, 255, 1);
}

#signup .subtitle {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);

  .blue {
    font-style: normal;
    color: rgba(0, 108, 255, 1);
  }
}

#signup .btn {
  max-width: 247px;
}

#signup a {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.64);
  text-decoration: none;
  transition: all 150ms ease-in;

  div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
  }

  &:hover {
      color: rgba(255, 255, 255, 0.80);
  }
}