/*****************************************************************************
 * @Author                : Jbristhuille<jbristhuille@gmail.com>             *
 * @CreatedDate           : 2023-10-06 11:32:38                              *
 * @LastEditors           : Jbristhuille<jbristhuille@gmail.com>             *
 * @LastEditDate          : 2024-09-05 11:53:50                              *
 ****************************************************************************/

.select {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #e1e5ee;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  max-width: 200px;
  position: relative;

  &.full {
    width: 100%;
    max-width: 100%;

    .menu {
      width: 100%;
      box-sizing: border-box;
      max-width: unset;
    }

    .control {
      max-width: unset;
    }
  }

  &.border-light {
    &, .control {
      border-color: #a7a7a7;
    }
  }
}

.select .ellipsis {
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.select .hidden {
  display: none!important;
}

// Control
.select .control {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding-right: 8px;
  min-height: 32px;
  max-width: 200px;
  border: 1px solid #3d3d3d;

  &:hover {
    background: #303030;
  }
}

.select .control.active {
  background: #303030;
}

// Selections
.select .control .selections {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 4px 8px;
  gap: 8px;
  align-items: center;

  .selection {
    display: flex;
    max-width: 100%;
    overflow: hidden;
  }
}

.select .control .placeholder {
  padding: 4px 8px;
}

// Search input
.select .control .control_search {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  padding: 4px 8px;
  color: #e1e5ee;

  &::placeholder {
    color: #a7a7a7;
  }
}
