/*****************************************************************************
 * @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @CreatedDate           : 2023-09-22 18:53:20                              *
 * @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @LastEditDate          : 2023-10-03 11:31:01                              *
 ****************************************************************************/

.view-ptt-all {
  position: relative;
  height: 100%;

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    height: 40px;
    border-bottom: 1px solid #3d3d3d;
    position: fixed;
    top: 41px;
    width: calc(100vw - 250px - 16px - 16px);
    background: #17161a;
    z-index: 1;

    .title {
      text-transform: capitalize;
    }
  }

  .list {
    margin-top: 41px;
    overflow-y: auto;
    height: calc(100vh - 82px);
    padding: 8px;
    box-sizing: border-box;
  }
}
