/*****************************************************************************
 * @Author                : Adrien Lanco<adrienlanco0@gmail.com>             *
 * @CreatedDate           : 2023-03-17 13:38:56                              *
 * @LastEditors           : Adrien Lanco<adrienlanco0@gmail.com>             *
 * @LastEditDate          : 2023-03-17 13:38:56                              *
 ****************************************************************************/

.icon.done {
  color: rgba(123, 190, 123, 1);
}
.icon.reject {
  color: rgba(152, 48, 48, 1);
}
.icon.new {
  color: rgba(241, 255, 241, 1);
}
.icon.progress {
  color: rgba(224, 190, 69, 1);
}
.icon.wait {
  color: rgba(116, 122, 116, 1);
}
