<!--
* @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>
* @CreatedDate           : 2023-09-29 10:03:00
* @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>
* @LastEditDate          : 2023-09-29 11:15:49
-->

<div class="view-my-activities">
  <div class="header">
    <h3>My activities</h3>
  </div>

  <ng-template [ngIf]="activities" [ngIfElse]="loading">
    <div class="activities-list">
      <component-activity-item *ngFor="let activity of activities" [activity]="activity"/>
    </div>
  </ng-template>

  <ng-template #loading>
    <div class="loading">
      <core-loading/>
    </div>
  </ng-template>
</div>
