<!--
* @Author                : Quentin<quentin@halfsquare.fr>
* @CreatedDate           : 2023-09-29 10:03:00
* @LastEditors           : Quentin<quentin@halfsquare.fr>
* @LastEditDate          : 2023-11-16 14:55:35
-->

<div class="view-my-activities">
  <div class="header">
    <h3>My activities</h3>
  </div>

  <div class="main">
    <ng-template [ngIf]="activities" [ngIfElse]="loading">
      <div class="activities-list">
        <component-activity-item *ngFor="let activity of activities" [activity]="activity"/>
      </div>
    </ng-template>
  </div>

  <ng-template #loading>
    <div class="loading">
      <core-loading/>
    </div>
  </ng-template>
</div>
