<!--
* @Author                : 0K00<qdouvillez@gmail.com>
* @CreatedDate           : 2023-03-17 16:48:00
* @LastEditors           : 0K00<qdouvillez@gmail.com>
* @LastEditDate          : 2023-04-18 11:52:49
-->

<div id="task">
  <div class="header">
    <app-button type="fth" size="sm" icon="plus" iconPosition="only" (click)="command.openNewTicket(task.id)"></app-button>
    <app-assignee-section [buttonOnly]="true" [assignees]="task ? task.assignments : []"
    [data]="task" [dataType]="'task'"></app-assignee-section>
  </div>
  <div class="task">
    <div class="main">
      <header>
        <div class="edit">
          <app-button id="editProj" type="trd" size="md" label="Edit" *ngIf="!onEdit" (click)="redirectToEdit()" />
          <app-button id="deleteProj" type="del" size="md" label="Delete" *ngIf="onEdit" (click)='command.deleteTask(task)' />
          <app-button id="saveProj" type="prm" size="md" label="Publish" *ngIf="onEdit" (click)='saveTask()' />
        </div>
        <h1 edtTxt [isEdit]="onEdit" [(value)]="task.name"></h1>
        <h2>Description</h2>
        <p edtTxt [isEdit]="onEdit" [(value)]="task.description"> </p>
      </header>
      <ng-container *ngIf="!windowWidth">
        <div class="details">
          <h3>Details</h3>
          <div class="elements">
            <div class="container">
              <h4>Id</h4>
              <div class="text space">
                {{task.id}}
              </div>
            </div>
            <div class="container">
              <h4>Owner</h4>
              <div class="text space">
                <app-avatar [userName]="task && task.owner ? task.owner.name : ''" />
                {{ task.owner ? task.owner.name : "" }}
              </div>
            </div>
            <div class="container">
              <h4>Assignee</h4>
              <div class="text">
                <app-assignee-section [assignees]="task ? task.assignments : []"
                                      [data]="task" [dataType]="'task'" />
              </div>
            </div>
            <div class="container">
              <h4>Target version</h4>
              <div class="text space">
                <app-versions-section [isEdit]="true"
                    [version]="getTaskVersion()" (versionNameChange)="changeTaskVersion($event)" />
              </div>
            </div>
            <div class="container">
              <h4>Status</h4>
              <div class="text space">
                <app-status-labeled [isEdit]="true" [(status)]="task.status" (statusChange)="command.editTask(this.task)"/>
              </div>
            </div>
            <div class="container labels">
              <h4>Labels</h4>
              <div class="text">
                <app-labels-section placeholder="Select label" [(labels)]="task.labels" (labelsChange)="command.editTask(this.task)" />
              </div>
            </div>
            <div class="container">
              <h4>Level</h4>
              <div class="text space">
                <app-level-section [(level)]="task.level" (levelChange)="command.editTask(this.task)"/>
              </div>
            </div>
            <div class="container">
              <h4>No. of tickets</h4>
              <div class="text space">
                <a href="/create">
                {{ task && task.tickets ? task.tickets.length : '0' }}
                {{ task && task.tickets && task.tickets.length > 1 ? "tickets" : "task"}}
                <app-icons [ngClass]="'icon'" icon="arrow-right" />
              </a>
            </div>
            </div>
            <div class="container">
              <h4>Created</h4>
              <div class="text space">{{ task.created | dateDifference }}</div>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="advancement">
        <app-progress-bar id="test" [value]="advancement" />
        <div class="tickets">
                    <div class="filter">
            <div class="tabs">
              <div class="tab showAll" [ngClass]="!showAll ? 'selected' : ''" (click)="showAll = false; showSelector = false; triggerShow()">
                <app-icons [ngClass]="'icon'" icon="fries"></app-icons>
              </div>
              <div class="tab selector showFilter" [ngClass]="showAll ? 'selected' : ''" (click)="showAll = true; triggerShow(selectVersion.id)">
                <div class="control">
                  <app-icons [ngClass]="'icon'" icon="straw"></app-icons>
                  <div class="select" (click)="showSelector = !showSelector;" @tab *ngIf="showAll">
                    {{selectVersion.name ? selectVersion.name : "Version"}}
                    <app-icons [ngClass]="'icon'" icon="{{showSelector ? 'chevron-up' : 'chevron-down'}}"></app-icons>
                  </div>
                </div>
                <div @nested *ngIf="showSelector" class="options">
                  <div class="container">
                    <div class="option" *ngFor="let option of options" (click)="selectVersion = option; showSelector = false; triggerShow(option.id)">
                      {{option.name}}
                    </div>
                    <div class="no option" *ngIf="options.length < 1">
                      No version
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="ticket" *ngFor="let ticket of advancementTickets" [href]="'/ticket/'+ticket.id">
            <div class="container">
              <div class="block">
                <div class="right">
                  <div class="status"><app-status [status]="ticket.status" /></div>
                  <div *ngIf="ticket.targetVersion && ticket.targetVersion.name" class="version">{{ ticket.targetVersion.name }}</div>
                  <div class="name">{{ ticket.name }}</div>
                </div>
              </div>
              <div class="block">
                <ng-container *ngIf="ticket.labels.length < 4">
                  <div class="labels" *ngFor="let label of ticket.labels">
                    <app-labels name="{{label.name}}" color="{{label.color}}"></app-labels>
                  </div>
                </ng-container>
                <ng-container *ngIf="ticket.labels.length > 3">
                  <div class="labels" *ngFor="let label of ticket.labels | slice:0:1">
                    <app-labels name="{{label.name}}" color="{{label.color}}"></app-labels> + {{ ticket.labels.length - 1 }} {{(ticket.labels.length - 1) > 1 ? 'others' : 'other'}}
                  </div>
                </ng-container>
                <app-level [degree]="ticket.level" />
                <div class="assignee" ngClass="{{ticket.assignments.length > 1 ? 'over' : ''}}">
                  <div class="assign" *ngFor="let assignee of ticket.assignments | slice:0:2">
                    <app-avatar [userName]="assignee.name" />
                  </div>
                </div>
              </div>
            </div>
          </a>

          <a class="ticket add" (click)="command.openNewTicket(task.id)">
            <app-icons [ngClass]="'icon'" icon="plus" />
            Create new Ticket
          </a>
        </div>
      </div>
      <ng-container *ngIf="!windowWidth">
        <div class="activity">
          <h3>Last activity</h3>
          <div class="content" *ngFor="let item of activity">
            <div class="img"><app-avatar [id]="item.name" [userName]="item.name" /></div>
            <div class="name">{{ item.name }}</div>
            <div class="desc">{{ item.action }} <a [href]="item.url">{{ item.id }}</a>, {{ item.time | dateDifference }}</div>
          </div>
        </div>
      </ng-container>
      <app-comments-section targetType="tasks" [targetId]="task.id" [comments]="task.comments" />
    </div>
    <aside *ngIf="windowWidth">
      <div class="details">
        <h3>Details</h3>
        <div class="container">
          <h4>Id</h4>
          <div class="text space">
            {{task.id}}
          </div>
        </div>
        <div class="container">
          <h4>Owner</h4>
          <div class="text space">
            <app-avatar [userName]="task && task.owner ? task.owner.name : ''" />
            {{ task.owner ? task.owner.name : "" }}
          </div>
        </div>
        <div class="container">
          <h4>Assignee</h4>
          <div class="text">
            <app-assignee-section [assignees]="task ? task.assignments : []"
                                  [data]="task" [dataType]="'task'" />
          </div>
        </div>
        <div class="container">
          <h4>Target version</h4>
          <div class="text space">
            <app-versions-section [isEdit]="true" [version]="getTaskVersion()"
                                  (versionChange)="changeTaskVersion($event)" />
          </div>
        </div>
        <div class="container">
          <h4>Status</h4>
          <div class="text space">
            <app-status-labeled [isEdit]="true" [(status)]="task.status" (statusChange)="command.editTask(this.task)"/>
          </div>
        </div>
        <div class="container labels">
          <h4 class="label">Labels</h4>
          <div class="text">
            <app-labels-section placeholder="Select label" [(labels)]="task.labels" (labelsChange)="command.editTask(this.task)" />
          </div>
        </div>
        <div class="container">
          <h4>Level</h4>
          <div class="text space">
            <app-level-section [(level)]="task.level" (levelChange)="command.editTask(this.task)"/>
          </div>
        </div>
        <div class="container">
          <h4>No. of tickets</h4>
          <div class="text space">
            <a href="/create">
            {{ task && task.tickets ? task.tickets.length : '0' }}
            {{ task && task.tickets && task.tickets.length > 1 ? "tickets" : "ticket"}}
            <app-icons [ngClass]="'icon'" icon="arrow-right" />
          </a>
        </div>
        </div>
        <div class="container">
          <h4>Created</h4>
          <div class="text space">{{ task.created | dateDifference }}</div>
        </div>
      </div>
      <div class="activity">
        <h3>Last activity</h3>
        <div class="content" *ngFor="let item of activity">
          <div class="img"><app-avatar [id]="item.name" [userName]="item.name" /></div>
          <div class="name">{{ item.name }}</div>
          <div class="desc">{{ item.action }} <a [href]="item.url">{{ item.id }}</a>, {{ item.time | dateDifference }}</div>
        </div>
      </div>
    </aside>
  </div>
</div>
