<!--
* @Author                : AdrienLanco0<adrienlanco0@gmail.com>
* @CreatedDate           : 2023-03-17 16:48:00
* @LastEditors           : AdrienLanco0<adrienlanco0@gmail.com>
* @LastEditDate          : 2023-04-11 14:51:50
-->

<div id="task">
  <div class="header">
  </div>
  <div class="task">
    <div class="main">
      <header>
        <div class="edit">
          <app-button id="editProj" type="trd" size="md" label="Edit" *ngIf="!onEdit" (click)="redirectToEdit()" />
          <app-button id="deleteProj" type="del" size="md" label="Delete" *ngIf="onEdit" (click)='command.deleteTask(task)' />
          <app-button id="saveProj" type="prm" size="md" label="Publish" *ngIf="onEdit" (click)='saveTask()' />
        </div>
        <h1 edtTxt [isEdit]="onEdit" [(value)]="task.name"></h1>
        <h2>Description</h2>
        <p edtTxt [isEdit]="onEdit" [(value)]="task.description"> </p>
      </header>
      <ng-container *ngIf="!windowWidth">
        <div class="details">
          <h3>Details</h3>
          <div class="elements">
            <div class="container">
              <h4>Owner</h4>
              <div class="text">
                <app-avatar id="madelyn" [userName]="task && task.owner ? task.owner.name : ''" />
                {{ task.owner ? task.owner.name : "" }}
              </div>
            </div>
            <div class="container">
              <h4>Assignee</h4>
              <div class="text">
                <app-assignee-section [assignees]="task ? task.assignments : []"
                                      (onAssign)="command.assignMySelf('task', task)" />
              </div>
            </div>
            <div class="container">
              <h4>Target version</h4>
              <app-versions-section [isEdit]="true"
                  [version]="getTaskVersion()" (versionNameChange)="changeTaskVersion($event)" />
            </div>
            <div class="container">
              <h4>Status</h4>
              <div class="text">
                <app-status-labeled [isEdit]="true" [(status)]="task.status" (statusChange)="command.editTask(this.task)"/>
              </div>
            </div>
            <div class="container">
              <h4>No. of tickets</h4>
              <div><a href="/create">
                {{ task && task.tickets ? task.tickets.length : '0' }}
                {{ task && task.tickets && task.tickets.length > 1 ? "tickets" : "task"}}
                <i class="icon arrowright"></i>
              </a></div>
            </div>
            <div class="container">
              <h4>Created</h4>
              <div class="text">{{ task.created | dateDifference }}</div>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="advancement">
        <app-progress-bar id="test" [value]="advancement" />
        <div class="tickets">
          <app-button id="showAll" type="prm" size="sm" icon="eye" (click)='showAll = !showAll; triggerShow()' />

          <a class="ticket" *ngFor="let ticket of advancementTickets" [href]="'/ticket/'+ticket.id">
            <div class="block">
              <div class="right">
                <div class="status"><app-status [status]="ticket.status" /></div>
                <div *ngIf="ticket.targetVersion && ticket.targetVersion.name" class="version">{{ ticket.targetVersion.name }}</div>
                <div class="name">{{ ticket.name }}</div>
              </div>
              <div class="description">{{ ticket.description }}</div>
            </div>
            <div class="block">
              <div class="id">{{ ticket.id }}</div>
              <app-level [degree]="ticket.level" />
              <app-avatar [userId]="ticket.owner.id" [userName]="ticket.owner.name" />
            </div>
          </a>

          <a class="ticket add" (click)="command.openNewTicket(task.id)">
            <i class="icon plus"></i>
            Create new Ticket
          </a>
        </div>
      </div>
      <ng-container *ngIf="!windowWidth">
        <div class="activity">
          <h3>Last activity</h3>
          <div class="content" *ngFor="let item of activity">
            <div class="img"><app-avatar [id]="item.name" [userName]="item.name" /></div>
            <div class="name">{{ item.name }}</div>
            <div class="desc">{{ item.action }} <a [href]="item.url">{{ item.id }}</a>, {{ item.time | dateDifference }}</div>
          </div>
        </div>
      </ng-container>
      <app-comments-section targetType="tasks" [targetId]="task.id" [comments]="task.comments" />
    </div>
    <aside *ngIf="windowWidth">
      <div class="details">
        <h3>Details</h3>
        <div class="container">
          <h4>Owner</h4>
          <div class="text">
            <app-avatar id="madelyn" [userName]="task && task.owner ? task.owner.name : ''" />
            {{ task.owner ? task.owner.name : "" }}
          </div>
        </div>
        <div class="container">
          <h4>Assignee</h4>
          <div class="text">
            <app-assignee-section [assignees]="task ? task.assignments : []"
                                  (onAssign)="command.assignMySelf('task', task)" />
          </div>
        </div>
        <div class="container">
          <h4>Target version</h4>
          <app-versions-section [isEdit]="true" [version]="getTaskVersion()"
                                (versionChange)="changeTaskVersion($event)" />
        </div>
        <div class="container">
          <h4>Status</h4>
          <div class="text">
            <app-status-labeled [isEdit]="true" [(status)]="task.status" (statusChange)="command.editTask(this.task)"/>
          </div>
        </div>
        <div class="container">
          <h4>Level</h4>
          <div class="text">
            <app-level-section [(level)]="task.level" (levelChange)="command.editTask(this.task)"/>
          </div>
        </div>
        <div class="container">
          <h4>No. of tickets</h4>
          <div><a href="/create">
            {{ task && task.tickets ? task.tickets.length : '0' }}
            {{ task && task.tickets && task.tickets.length > 1 ? "tickets" : "ticket"}}
            <i class="icon arrowright"></i>
          </a></div>
        </div>
        <div class="container">
          <h4>Created</h4>
          <div class="text">{{ task.created | dateDifference }}</div>
        </div>
      </div>
      <div class="activity">
        <h3>Last activity</h3>
        <div class="content" *ngFor="let item of activity">
          <div class="img"><app-avatar [id]="item.name" [userName]="item.name" /></div>
          <div class="name">{{ item.name }}</div>
          <div class="desc">{{ item.action }} <a [href]="item.url">{{ item.id }}</a>, {{ item.time | dateDifference }}</div>
        </div>
      </div>
    </aside>
  </div>
</div>
