<!--
* @Author                : Jbristhuille<jbristhuille@gmail.com>
* @CreatedDate           : 2023-05-30 11:57:00
* @LastEditors           : Jbristhuille<jbristhuille@gmail.com>
* @LastEditDate          : 2024-08-20 10:07:40
-->

<div class="app">
  <section-navigation [ngClass]="{'nav': true, 'close': !nav.getState()}" *ngIf="user.isConnected()"/>

  <div class="views-container">
    <section-tool-bar *ngIf="user.isConnected()" [onSearch]="search.state"/>

    <div class="view">
      <router-outlet></router-outlet>
    </div>

    <section-bottom-bar *ngIf="user.isConnected()"/>
  </div>

</div>

<component-toast/>

<component-modal [(isOpen)]="search.state">
  <component-search-bar *ngIf="user.isConnected()" [onSearch]="search.state"/>
</component-modal>
