/*****************************************************************************
 * @Author                : Jbristhuille<jbristhuille@gmail.com>             *
 * @CreatedDate           : 2023-09-22 18:55:47                              *
 * @LastEditors           : Jbristhuille<jbristhuille@gmail.com>             *
 * @LastEditDate          : 2024-07-25 20:15:14                              *
 ****************************************************************************/

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 1px;
  overflow-x: hidden;

  .views-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .view {
      flex-grow: 1;
      height: 100%;
      overflow: hidden;
    }
  }

  .nav {
    width: 250px;
    transition: width ease 0.4s, transform ease 0.4s;

    &.close {
      transform: translateX(-250px);
      width: 0;
    }
  }
}
