/*****************************************************************************
 * @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @CreatedDate           : 2023-09-22 18:55:47                              *
 * @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @LastEditDate          : 2023-09-22 19:20:10                              *
 ****************************************************************************/

.app {
  width: 100vw;
  height: 100vh;
  display: flex;

  .views-container {
    width: 100%;
    height: 100%;
  }
}
