/*****************************************************************************
 * @Author                : Adrien Lanco<adrienlanco0@gmail.com>             *
 * @CreatedDate           : 2023-03-17 12:18:06                              *
 * @LastEditors           : Adrien Lanco<adrienlanco0@gmail.com>             *
 * @LastEditDate          : 2023-03-18 16:24:46                              *
 ****************************************************************************/

.breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0;

  a {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.42);
      transition: all 250ms ease-out;
      &:hover {
          color: rgba(255, 255, 255, 1);
          text-decoration: underline;
      }
  }
  a {
      color: rgba(255, 255, 255, 0.80);
  }

  li {
      display: inline-block;
      text-transform: capitalize;
      &:last-child {
        a {
          color: rgba(0, 108, 255, 1);

        }
      }
      &:not(:last-child)::after {
          content: '/';
          margin: 0 0.5rem;
          color: rgba(255, 255, 255, 0.42);
      }
  }
}
