<!--
* @Author                : 0K00<qdouvillez@gmail.com>
* @CreatedDate           : 2023-04-18 12:01:00
* @LastEditors           : 0K00<qdouvillez@gmail.com>
* @LastEditDate          : 2023-04-21 11:51:33
-->

<div id="labels">
  <div class="info">
    <h2>Labels</h2>
    <p>You can create, modify, and delete the labels.</p>
  </div>

  <div class="labels">
    <div class="container">
      <div class="create">
        <div #menu class="color">
          <div class="control" (click)="showMenu = !showMenu">
            <div class="bull" ngClass="{{selectColor}}"></div>
            <app-icons icon="{{showMenu ? 'chevron-up' : 'chevron-down'}}"></app-icons>
          </div>
          <div @nested *ngIf="showMenu" class="menu">
            <div class="option" *ngFor="let option of colorOptions" (click)="selectColor = option; showMenu = !showMenu">
              <div class="bull" ngClass="{{option}}"></div>
            </div>
          </div>
        </div>
        <app-input [(value)]="name" is="text" [ngStyle]="{'width': '100%'}" placeholder="Add name" type="prm" size="md"></app-input>
        <app-input [(value)]="desc" is="text" [ngStyle]="{'width': '100%'}" placeholder="Description" type="prm" size="md"></app-input>
        <div class="send">
          <app-button (click)="onSubmit(name, desc, selectColor)" type="scnd" label="Add"></app-button>
        </div>
      </div>
      <div class="scroll" ngClass="{{labels.length > 7 ? 'padding-right' : ''}}" >
        <div class="label" *ngFor="let label of labels; let index = index">
          <div *ngIf="edit[index]" class="edit">
            <div class="color">
              <div class="control" (click)="showMenuEdit[index] = !showMenuEdit[index]">
                <div class="bull" ngClass="{{label.color}}"></div>
                <app-icons icon="{{showMenuEdit[index] ? 'chevron-up' : 'chevron-down'}}"></app-icons>
              </div>
              <div @nested *ngIf="showMenuEdit[index]" class="menu">
                <div class="option" *ngFor="let option of colorOptions" (click)="label.color = option; showMenuEdit[index] = !showMenuEdit[index]">
                  <div class="bull" ngClass="{{option}}"></div>
                </div>
              </div>
            </div>
            <app-input [(value)]="label.name" is="text" [ngStyle]="{'width': '100%'}" placeholder="Add name" type="prm" size="md"></app-input>
            <app-input [(value)]="label.description" is="text" [ngStyle]="{'width': '100%'}" placeholder="Description" type="prm" size="md"></app-input>
          </div>
          <div *ngIf="!edit[index]">
            <app-labels-details name="{{label.name}}" color="{{label.color}}" desc="{{label.description}}"></app-labels-details>
          </div>
          <div class="action">
            <div *ngIf="!edit[index]" (click)="toggleEdit(index)" class="btn edit">
              Edit
            </div>
            <div *ngIf="edit[index]" (click)="toggleEdit(index, true)" class="btn edit">
              Cancel
            </div>
            <div *ngIf="edit[index]" class="send">
              <app-button (click)="onEdit(label, index)" size="sm" type="prm" label="Save"></app-button>
            </div>
            <div *ngIf="!edit[index]" class="btn delete"(click)="deleteLabel(label.id)">
              <app-icons icon="minus"></app-icons>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
