#labels {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;

  h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.64);
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.40);
  }
}

.labels {

  .container {
    // max-height: calc(400px + 64px);
    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 8px;
    margin-bottom: calc(16px + 16px);

    .create {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
      padding: 8px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.04);

      .color {
        position: relative;

        .control {
          cursor: pointer;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 4px;
          padding: 0 6px;
          height: 32px;
          background: #2E2E2E;
          box-shadow: 0px 0px 0px 1px #424242;
          border-radius: 4px;
          color: rgba(255, 255, 255, 0.96);
          user-select: none;

          .bull {
            width: 16px;
            height: 16px;
            border-radius: 4px;
          }
        }

        .menu {
          position: absolute;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          gap: 8px;
          padding: 8px;
          z-index: 10;
          top: calc(32px + 8px);
          left: 0;
          background: #2E2E2E;
          box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.16), 0px 0px 0px 1px #424242;
          border-radius: 8px;

          .option {
            cursor: pointer;
          }

          .bull {
            width: 24px;
            height: 24px;
            border-radius: 4px;
          }
        }
      }
    }

    .scroll.padding-right {
      padding-right: 8px;
    }
    .scroll {
      margin: 0 8px;
      // overflow: auto;
      // max-height: 400px;
      /* width */
      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: transparent;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #9C9C9C;
        border-radius: 999px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #b8b8b8;
      }
    }
  }

  .label:first-child {
    margin-top: 8px;
  }

  .label:last-child {
    margin-bottom: 8px;
  }

  .label {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-radius: 8px;

    &:hover {
      background: rgba(255, 255, 255, 0.04);
    }

    .edit {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
      padding: 8px;
      width: 100%;

      .color {
        position: relative;

        .control {
          cursor: pointer;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 4px;
          padding: 0 6px;
          height: 32px;
          background: #2E2E2E;
          box-shadow: 0px 0px 0px 1px #424242;
          border-radius: 4px;
          color: rgba(255, 255, 255, 0.96);
          user-select: none;

          .bull {
            width: 16px;
            height: 16px;
            border-radius: 4px;
          }
        }

        .menu {
          position: absolute;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          gap: 8px;
          padding: 8px;
          z-index: 10;
          top: calc(32px + 8px);
          left: 0;
          background: #2E2E2E;
          box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.16), 0px 0px 0px 1px #424242;
          border-radius: 8px;

          .option {
            cursor: pointer;
          }

          .bull {
            width: 24px;
            height: 24px;
            border-radius: 4px;
          }
        }
      }
    }

    .action {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;

      .btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        min-height: 16px;
        padding: 4px;
        color: rgba(255, 255, 255, 0.64);
        font-size: 12px;
      }

      .delete:hover {
        background: rgba(83, 40, 40, 1);
        color: rgba(255, 124, 124, 1);
      }

      .edit:hover {
        background: rgba(51, 51, 51, 1);
        color: rgba(255, 255, 255, 0.64);
      }
    }
  }
}


.bull.white {
  background: rgba(88, 88, 88, 1);
  border: 1px solid rgba(255, 255, 255, 0.72);
}
.bull.blue {
  background: rgba(26, 42, 96, 1);
  border: 1px solid rgba(66, 146, 255, 1);
}
.bull.green {
  background: rgba(40, 83, 47, 1);
  border: 1px solid rgba(124, 255, 137, 1);
}
.bull.yellow {
  background: rgba(83, 79, 40, 1);
  border: 1px solid rgba(255, 242, 124, 1);
}
.bull.orange {
  background: rgba(83, 66, 40, 1);
  border: 1px solid rgba(255, 135, 98, 1);
}
.bull.red {
  background: rgba(83, 40, 40, 1);
  border: 1px solid rgba(255, 124, 124, 1);
}
.bull.pink {
  background: rgba(83, 40, 79, 1);
  border: 1px solid rgba(255, 98, 211, 1);
}
.bull.purple {
  background: rgba(67, 40, 83, 1);
  border: 1px solid rgba(186, 98, 255, 1);
}


