/*****************************************************************************
 * @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @CreatedDate           : 2023-09-30 15:38:30                              *
 * @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @LastEditDate          : 2023-09-30 15:45:35                              *
 ****************************************************************************/

.section-ptt-tool-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  height: 40px;
  padding: 0 16px;
  border-bottom: 1px solid #000000;
  background: #17161a;
  z-index: 3;

  .tabs {
    display: flex;
    flex-direction: row;
    gap: 8px;
    text-transform: capitalize;
  }

  .controls {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}

.active {
  color: red;
}
