<!--
* @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>
* @CreatedDate           : 2023-09-05 10:15:00
* @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>
* @LastEditDate          : 2023-10-02 15:35:32
-->

<div [ngClass]="['avatar', size, other]">

  <div class="content">

    <span *ngIf="imgLink" class="img">
      <img [src]="url+imgLink" [alt]="label + ' profil picture'">
    </span>

    <span *ngIf="!imgLink" class="img">
      {{printLabel}}
    </span>

  </div>

  <div *ngIf="showLabel" class="label">
    {{label}}
  </div>

</div>
