<!--
* @Author                : Quentin<quentin@halfsquare.fr>
* @CreatedDate           : 2023-09-05 10:15:00
* @LastEditors           : Quentin<quentin@halfsquare.fr>
* @LastEditDate          : 2023-11-16 17:03:34
-->

<div [ngClass]="['avatar', size, other]">

  <div [ngClass]="imgLink ? '' : 'bg'" class="content">

    <span *ngIf="imgLink" class="img">
      <img [src]="url+imgLink" [alt]="label + ' profil picture'">
    </span>

    <span *ngIf="!imgLink" class="img">
      {{printLabel}}
    </span>

  </div>

  <div *ngIf="showLabel" class="label">
    {{label}}
  </div>

</div>
