<!--
* @Author                : AdrienLanco0<adrienlanco0@gmail.com>
* @CreatedDate           : 2023-03-17 17:17:00
* @LastEditors           : AdrienLanco0<adrienlanco0@gmail.com>
* @LastEditDate          : 2023-03-23 17:23:36
-->

<div id="projects" class="main">
  <div class="header">
      <div class="right">
          <h2>Projects</h2>
          <app-button id="filter" type="fth" size="md" label="Add filter +" />
      </div>
      <app-button id="newProject" type="scnd" size="md" label="New project (Alt + P)" (click)='openNewProject()' />
  </div>
  <div class="content" >
      <a *ngFor="let project of projectList" [href]="'project/'+project.id">
          <div class="right">
              <div class="status"><app-status [status]="project.status" /></div>
              <div class="version">{{ project.actualVersion }}</div>
              <div class="name">{{ project.name }}</div>
          </div>
          <div class="date">{{ project.created }}</div>
      </a>
  </div>
</div>
