<!--
* @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>
* @CreatedDate           : 2023-03-17 16:48:00
* @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>
* @LastEditDate          : 2023-05-11 15:03:37
-->

<div id="ticket">
  <div class="header">
    <app-assignee-section [buttonOnly]="true" [assignees]="ticket ? ticket.assignments : []"
    [data]="ticket" [dataType]="'ticket'"></app-assignee-section>
  </div>
  <div class="ticket">
    <div class="main">
      <header>
        <div class="edit">
          <app-button id="editProj" type="trd" size="md" label="Edit" *ngIf="!onEdit" (click)="redirectToEdit()" />
          <app-button id="deleteProj" type="del" size="md" label="Delete" *ngIf="onEdit" (click)='command.deleteTicket(ticket)' />
          <app-button id="saveProj" type="prm" size="md" label="Publish" *ngIf="onEdit" (click)='saveTicket()' />
        </div>
        <h1 edtTxt [isEdit]="onEdit" [(value)]="ticket.name"></h1>
        <h2>Description</h2>
        <p edtTxt [isEdit]="onEdit" [(value)]="ticket.description"> </p>
      </header>
      <ng-container *ngIf="!windowWidth">
        <div class="details">
          <h3>Details</h3>
          <div class="elements">
            <div class="container">
              <h4>Id</h4>
              <div class="text space">
                {{ticket.id}}
              </div>
            </div>
            <div class="container">
              <h4>Owner</h4>
              <div class="text space">
                <app-avatar [imgPath]="ticket.owner.picture" [userName]="ticket && ticket.owner ? ticket.owner.name : ''" />
                {{ ticket.owner ? ticket.owner.name : "" }}
              </div>
            </div>
            <div class="container">
              <h4>Assignee</h4>
              <div class="text">
                <app-assignee-section [assignees]="ticket ? ticket.assignments : []"
                                      [data]="ticket" [dataType]="'ticket'" />
              </div>
            </div>
            <div class="container">
              <h4>Target version</h4>
              <div class="text space">
                <app-versions-section [isEdit]="true"
                    [version]="getTicketVersion()" (versionNameChange)="changeTicketVersion($event)" />
              </div>
            </div>
            <div class="container">
              <h4>Status</h4>
              <div class="text space">
                <app-status-labeled [isEdit]="true" [(status)]="ticket.status" (statusChange)="saveTicket()"/>
              </div>
            </div>
            <div class="container labels">
              <h4 class="label">Labels</h4>
              <div class="text">
                <app-labels-section placeholder="Select label" [(labels)]="ticket.labels" (labelsChange)="saveTicket()" />
              </div>
            </div>
            <div class="container">
              <h4>Level</h4>
              <div class="text space">
                <app-level-section [(level)]="ticket.level" (levelChange)="saveTicket()"/>
              </div>
            </div>
            <div class="container">
              <h4>Created</h4>
              <div class="text space">{{ ticket.created | dateDifference }}</div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!windowWidth">
        <div class="activity">
          <h3>Last activity</h3>
          <div class="content" *ngFor="let item of ticket.activitys">
            <app-activity-comp [activity]="item" [small]="true" />
          </div>
        </div>
      </ng-container>
      <app-comments-section targetType="tickets" [targetId]="ticket.id" [comments]="ticket.comments" />
    </div>
    <aside *ngIf="windowWidth">
      <div class="details">
        <h3>Details</h3>
        <div class="container">
          <h4>Id</h4>
          <div class="text space">
            {{ticket.id}}
          </div>
        </div>
        <div class="container">
          <h4>Owner</h4>
          <div class="text space">
            <app-avatar [imgPath]="ticket && ticket.owner ? ticket.owner.picture : ''"
                        [userName]="ticket && ticket.owner ? ticket.owner.name : ''" />
            {{ ticket.owner ? ticket.owner.name : "" }}
          </div>
        </div>
        <div class="container">
          <h4>Assignee</h4>
          <div class="text">
            <app-assignee-section [assignees]="ticket ? ticket.assignments : []"
                                  [data]="ticket" [dataType]="'ticket'" />
          </div>
        </div>
        <div class="container">
          <h4>Target version</h4>
          <div class="text space">
            <app-versions-section [isEdit]="true" [version]="getTicketVersion()"
                                  (versionChange)="changeTicketVersion($event)" />
          </div>
        </div>
        <div class="container">
          <h4>Status</h4>
          <div class="text space">
            <app-status-labeled [isEdit]="true" [(status)]="ticket.status" (statusChange)="saveTicket()"/>
          </div>
        </div>
        <div class="container labels">
          <h4 class="label">Labels</h4>
          <div class="text">
            <app-labels-section placeholder="Select label" [(labels)]="ticket.labels" (labelsChange)="saveTicket()" />
          </div>
        </div>
        <div class="container">
          <h4>Level</h4>
          <div class="text space">
            <app-level-section [(level)]="ticket.level" (levelChange)="saveTicket()"/>
          </div>
        </div>
        <div class="container">
          <h4>Created</h4>
          <div class="text space">{{ ticket.created | dateDifference }}</div>
        </div>
      </div>
      <div class="activity">
        <h3>Last activity</h3>
        <div class="content" *ngFor="let item of ticket.activitys">
          <app-activity-comp [activity]="item" [small]="true" />
        </div>
      </div>
    </aside>
  </div>
</div>
