.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 108, 255, 1);
  color: rgba(255, 255, 255, 0.96);
  border-radius: 99px;
}

.badge.md {
  width: 16px;
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.badge.sm {
  width: 8px;
  height: 8px;
  .number {
    display: none;
  }
}



