/*****************************************************************************
 * @Author                : 0K00<qdouvillez@gmail.com>                       *
 * @CreatedDate           : 2023-02-22 12:10:17                              *
 * @LastEditors           : 0K00<qdouvillez@gmail.com>                       *
 * @LastEditDate          : 2023-02-22 12:10:17                              *
 *                                                                           *
 ****************************************************************************/

#login {
    background: rgba(34, 34, 34, 1);
    height: 100vh;
    display: flex;
    gap: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login .container {
    display: flex;
    flex-direction: column;
    max-width: 270px;
    gap: 1.5rem;
}

#login a {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.64);
    text-decoration: none;
    transition: all 150ms ease-in;

    div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &:hover {
        color: rgba(255, 255, 255, 0.80);
    }
}