/*****************************************************************************
 * @Author                : Adrien Lanco<adrienlanco0@gmail.com>             *
 * @CreatedDate           : 2023-03-17 16:08:36                              *
 * @LastEditors           : Adrien Lanco<adrienlanco0@gmail.com>             *
 * @LastEditDate          : 2023-03-17 16:38:51                              *
 ****************************************************************************/


:host {
  min-height: 100vh;
  .sidebar {
    display: flex;
    overflow: hidden;

    aside {
        width: calc(100% - 1px);
    }

    .main {
        overflow: auto;
        height: calc(100vh - 40px);
    }
  }
}


a {
  text-decoration: none;
}
