.radio {
  position: relative;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  border-radius: 999px;
  transition: all 150ms ease-in-out;
  color: #d0d0d0;

  input {
    appearance: none;
    cursor: pointer;
    transform: translate(-5px, -1px);
    width: 16px;
    height: 16px;
    border: 2px solid #303030;
    border-radius: 999px;
    transition: all 150ms ease-in-out;
  }


  &:hover {
    background: #303030;
  }
}

.radio.default input:checked {
  border: 5px solid #eaeaea;
}
.radio.default:hover input {
  border-color: #eaeaea;
}

.radio.primary input:checked {
  border: 5px solid #0055ff;
}
.radio.primary:hover input {
  border-color: #0055ff;
}

.radio.accent input:checked {
  border: 5px solid #15ff00;
}
.radio.accent:hover input {
  border-color: #15ff00;
}

.radio.warn input:checked {
  border: 5px solid #fe3232;
}
.radio.warn:hover input {
  border-color: #fe3232;
}
