/*****************************************************************************
 * @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @CreatedDate           : 2023-09-20 16:04:39                              *
 * @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @LastEditDate          : 2023-09-27 18:07:49                              *
 ****************************************************************************/

.section-navigation {
  height: 100%;
  width: 250px;
  background: #222222;
  border-right: 1px solid #000000;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    padding: 0 8px;
    height: 40px;

    .nav-btn {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 4px;
    }

    .version {
      font-size: 8px;
      color: #636363;
    }
  }

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    img {
      width: 16px;
      height: 16px;
    }
  }

  h1 {
    cursor: default;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
  }
}
