/*****************************************************************************
 * @Author                : AdrienLanco0<121338518+AdrienLanco0@users.noreply.github.com>*
 * @CreatedDate           : 2023-02-22 12:07:19                              *
 * @LastEditors           : AdrienLanco0<121338518+AdrienLanco0@users.noreply.github.com>*
 * @LastEditDate          : 2023-03-22 11:12:17                              *
 ****************************************************************************/

 #setting {
  display: flex;
  flex-direction: column;

}

.header {
  height: 40px;
  background: rgba(34, 34, 34, 1);
  border-bottom: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 16px;
  gap: 8px;

  .link {
    color: rgba(255, 255, 255, 0.64);

    &:hover {
      color: rgba(255, 255, 255, 0.96);
    }
  }

  .link.active {
    color: rgba(0, 108, 255, 1);
  }
}

.setting {
  background: rgba(34, 34, 34, 1);
  overflow: hidden;
  height: calc(100vh - 81px);
}

.setting .main {
  height: calc(100vh - 81px);
  overflow: auto;
  padding: 16px;
  /* width */
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #9C9C9C;
    border-radius: 999px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #b8b8b8;
  }
}


