<!--
* @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>
* @CreatedDate           : 2023-09-12 14:01:00
* @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>
* @LastEditDate          : 2023-11-17 10:11:54
-->

<nav>
  <ol class="breadcrumb">
      <li class="item" *ngFor="let crumb of crumbs; let index = index">
        <a [routerLink]="[crumb.path]">
            <ng-template [ngIf]="!crumb.collection" [ngIfElse]="getInCollection">
              {{crumb.name}}
            </ng-template>

            <ng-template #getInCollection>
              {{crumb.name | recovery:"name":crumb.collection || "" | async}}
            </ng-template>
          </a>
      </li>
  </ol>
</nav>
