/*****************************************************************************
 * @Author                : Adrien Lanco<adrienlanco0@gmail.com>             *
 * @CreatedDate           : 2023-03-31 16:32:12                              *
 * @LastEditors           : Adrien Lanco<adrienlanco0@gmail.com>             *
 * @LastEditDate          : 2023-03-31 16:34:38                              *
 ****************************************************************************/


#openOption {
  width: 100%;
}

.assignees {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 4px;

  &:hover {
    background: rgba(255, 255, 255, 0.04);
  }

  &:hover .over .assignee:last-child {
    border-color: rgba(43, 43, 43, 1);
  }

  .assignee {
    display: flex;
    gap: 8px;
    cursor: pointer;
    padding: 4px;
    width: 100%;

  }

  .over {
    display: flex;
    align-items: center;
  }

  .over .assignee:last-child {
    transform: translateX(-8px);
    border: 2px solid rgba(34, 34, 34, 1);
    border-radius: 99px;
    padding: 0;
  }

  .other {
    transform: translateX(-6px);
  }


  #openOption {
    position: relative;
    display: flex;
  }

  .menuOption.right {
    right: 0;
  }
  .menuOption {
    position: absolute;
    overflow: hidden;
    z-index: 10;
    top: calc(28px + 8px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #2E2E2E;
    box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.16), 0px 0px 0px 1px #424242;
    border-radius: 8px;
    width: 136px;
    padding: 4px;
    transition: all 250ms ease-in;

    .option {
      cursor: pointer;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      gap: 4px;
      align-items: center;
      color: rgba(255, 255, 255, 0.96);
      border-radius: 4px;
      padding: 6px 4px;
      width: calc(100% - 8px);
      justify-content: flex-start;

      &:hover {
        background: rgba(255, 255, 255, 0.04);
      }
    }
  }
}
