<!--
* @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>
* @CreatedDate           : 2023-03-28 16:17:00
* @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>
* @LastEditDate          : 2023-05-11 14:59:07
-->

<div class="assignees">
  <div *ngIf="!buttonOnly" (click)='toggleOption()' id='openOption'>
    <ng-container *ngIf="assignees && assignees.length == 0">
      <div class="assignee dropdown">
        No assign
        <app-icons [ngClass]="'icon '" icon="{{showOption ? 'close' : 'open'}}"></app-icons>
      </div>
    </ng-container>

    <ng-container *ngIf="assignees && (assignees.length < 1 || assignees.length == 1)" >
      <div class="assignee" *ngFor="let assignee of assignees">
        <app-avatar [userName]="assignee.name" [imgPath]="assignee.picture" />
        {{assignee.name}}
        <app-icons [ngClass]="'icon '" icon="{{showOption ? 'close' : 'open'}}"></app-icons>
      </div>
    </ng-container>

    <div class="over" *ngIf="assignees && assignees.length > 1">
      <div class="assignee" *ngFor="let assignee of assignees | slice:0:2;">
        <app-avatar [userName]="assignee.name" [imgPath]="assignee.picture" />
      </div>
    </div>
    <div class="assignee other" *ngIf="assignees && assignees.length > 2">
      <p> + {{assignees.length - 2}}</p>
      <app-icons [ngClass]="'icon '" icon="{{showOption ? 'close' : 'open'}}"></app-icons>
    </div>

    <ng-container *ngIf="showOption">
      <div @nested class="menuOption right">
        <div class="assignee" *ngFor="let user of assignees" (click)="unassignSomeOne(user)">
          <app-avatar [userName]="user.name" [imgPath]="user.picture"/>
          <p>{{user.name}}</p>
          <app-button id="assign"
                      type="trd"
                      size="sm"
                      icon="minus"
                      iconPosition="only" />
        </div>

        <div class="assignee" *ngFor="let user of nonAssigned" (click)="assignSomeOne(user)">
          <app-avatar [userName]="user.name" [imgPath]="user.picture" />
          <p>{{user.name}}</p>
          <app-button id="assign"
                      type="trd"
                      size="sm"
                      icon="plus"
                      iconPosition="only"></app-button>
        </div>
      </div>
    </ng-container>
  </div>

  <ng-container *ngIf="buttonOnly">
    <app-button *ngIf="!isAssignee" id="assign" type="trd" size="sm" icon="heart" iconPosition="only" (click)="assignMySelf()"></app-button>
    <app-button *ngIf="isAssignee" id="assign" type="prm" size="sm" icon="heart--fill" iconPosition="only" (click)="unassignMySelf()"></app-button>
  </ng-container>
</div>

