<!--
* @Author                : AdrienLanco0<adrienlanco0@gmail.com>
* @CreatedDate           : 2023-03-28 16:17:00
* @LastEditors           : AdrienLanco0<adrienlanco0@gmail.com>
* @LastEditDate          : 2023-03-28 16:30:41
-->

<div class="assignees">
  <div class="assignee" *ngFor="let assignee of assignees">
    <app-avatar [userName]="assignee.name" />
    <p>{{assignee.name}}</p>
  </div>

  <div *ngIf="!isAssignee">
    <button (click)="assignMySelf()">Assign myself</button>
  </div>
</div>

