<!--
* @Author                : Jbristhuille<jbristhuille@gmail.com>
* @CreatedDate           : 2024-01-15 17:23:00
* @LastEditors           : Jbristhuille<jbristhuille@gmail.com>
* @LastEditDate          : 2024-08-20 14:42:04
-->

<div class="stats-view">
  <ng-template [ngIf]="stats" [ngIfElse]="loading">
    Nb. tasks {{stats.tasks.total}}

    <div class="chart-container tasks-by-status">
      <apx-chart  [series]="tasksByStatus.data"
                  [labels]="tasksByStatus.labels"
                  [chart]="{type: 'polarArea'}"
                  [title]="{text: 'Tasks by status'}"/>
    </div>

    <div class="chart-container new-by-month">
      <apx-chart  [series]="[{name: 'new', data: newByMonth.data}]"
                  [plotOptions]="{bar: {dataLabels: {position: 'top'}}}"
                  [xaxis]="{categories: newByMonth.labels}"
                  [chart]="{type: 'bar'}"
                  [title]="{text: 'New by month '+stats.tasks.newByMonth[0].year}"/>
    </div>
  </ng-template>

  <ng-template #loading>
    <div class="loading">
      <core-loading/>
    </div>
  </ng-template>
</div>
