<!--
* @Author                : 0K00<qdouvillez@gmail.com>
* @CreatedDate           : 2023-09-20 16:09:00
* @LastEditors           : 0K00<qdouvillez@gmail.com>
* @LastEditDate          : 2023-12-01 15:55:47
-->

<div class="section-ptt-navigation">
  <ul>
    <li [ngClass]="{'item': true, 'depth': !hasChild(tasks, {projectId: project.id})}"
        *ngFor="let project of projects">
      <div class="head">
        <div  class="collapse"
              *ngIf="hasChild(tasks, {projectId: project.id})"
              (click)="toggleCollapse(project.id, project.status)">
          <core-icon [ngStyle]="{'transform': 'translate(-1px, -1px)'}" [icon]="isOpen(project.id) ? 'chevron-down' : 'chevron-right'"></core-icon>
        </div>

        <a [tooltip]="project.name" routerLink="/projects/{{project.id}}" routerLinkActive="active" class="link">
          <core-icon [icon]="project.status"></core-icon>
          <div class="ellipsis">
            <span>{{project.name}}</span>
          </div>
        </a>

        <div (click)="createChild('projects', project.id, 'tasks')" [tooltip]="'Add task for this project'" class="add">
          <core-icon [icon]="'plus'"></core-icon>
        </div>
      </div>

      <ul *ngIf="isOpen(project.id)" class="child">
        <div *ngFor="let statut of status">
          <component-collapse [showContent]="isOpenStatus(statut.id)" *ngIf="_.filter(tasks, {projectId: project.id, status: statut.id}).length > 0">
            <div class="{{statut.id}}" title>
              <core-icon [icon]="statut.id" /> {{_.filter(tasks, {projectId: project.id, status: statut.id}).length}} {{statut.name}}
            </div>
            <li content [ngClass]="{'item': true, 'depth': !hasChild(tickets, {taskId: task.id})}"
                *ngFor="let task of _.filter(tasks, {projectId: project.id, status: statut.id})">
              <div class="head">
                <div  class="collapse"
                      *ngIf="hasChild(tickets, {taskId: task.id})"
                      (click)="toggleCollapse(task.id, task.status)">
                  <core-icon [ngStyle]="{'transform': 'translate(-1px, -1px)'}" [icon]="isOpen(task.id) ? 'chevron-down' : 'chevron-right'"></core-icon>
                </div>

                <a [tooltip]="task.name" routerLink="/tasks/{{task.id}}" routerLinkActive="active" class="link">
                  <core-icon [icon]="task.status"></core-icon>
                  <div class="ellipsis">
                    <span>{{task.name}}</span>
                  </div>
                </a>

                <div (click)="createChild('tasks', task.id, 'tickets')" [tooltip]="'Add ticket for this task'" class="add">
                  <core-icon [icon]="'plus'"></core-icon>
                </div>
              </div>

              <ul *ngIf="isOpen(task.id)" class="child">
                <div *ngFor="let statut of status">
                  <component-collapse [showContent]="isOpenStatus(statut.id)" *ngIf="_.filter(tickets, {taskId: task.id, status: statut.id}).length > 0">
                    <div class="{{statut.id}}" title>
                      <core-icon [icon]="statut.id" /> {{_.filter(tickets, {taskId: task.id, status: statut.id}).length}} {{statut.name}}
                    </div>
                    <li content class="item depth"
                        *ngFor="let ticket of _.filter(tickets, {taskId: task.id, status: statut.id})">
                      <div class="head">
                        <a [tooltip]="ticket.name" routerLink="tickets/{{ticket.id}}" routerLinkActive="active" class="link">
                          <core-icon [ngStyle]="{'transform': 'translate(-1px, -1px)'}" [icon]="ticket.status"></core-icon>
                          <div class="ellipsis">
                            <span>{{ticket.name}}</span>
                          </div>
                        </a>
                      </div>
                    </li>
                  </component-collapse>
                </div>
              </ul>
            </li>
          </component-collapse>
        </div>
      </ul>
    </li>
  </ul>
</div>
