<!--
* @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>
* @CreatedDate           : 2023-09-20 16:09:00
* @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>
* @LastEditDate          : 2023-09-21 16:00:32
-->

<div class="section-ptt-navigation">
  <ul>
    <li [ngClass]="{'item': true, 'depth': !hasChild(tasks, {projectId: project.id})}"
        *ngFor="let project of projects">
      <div class="head">
        <div  class="collapse"
              *ngIf="hasChild(tasks, {projectId: project.id})"
              (click)="toggleCollapse(project.id)">
          <core-icon [icon]="isOpen(project.id) ? 'chevron-down' : 'chevron-right'"></core-icon>
        </div>

        <a routerLink="/projects/{{project.id}}" class="link">
          <core-icon [icon]="project.status"></core-icon>
          <div class="ellipsis">{{project.name}}</div>
        </a>
      </div>

      <ul *ngIf="isOpen(project.id)">
        <li [ngClass]="{'item': true, 'depth': !hasChild(tickets, {taskId: task.id})}"
            *ngFor="let task of _.filter(tasks, {projectId: project.id})">
          <div class="head">
            <div  class="collapse"
                  *ngIf="hasChild(tickets, {taskId: task.id})"
                  (click)="toggleCollapse(task.id)">
              <core-icon [icon]="isOpen(task.id) ? 'chevron-down' : 'chevron-right'"></core-icon>
            </div>

            <a routerLink="/tasks/{{task.id}}" class="link">
              <core-icon [icon]="task.status"></core-icon>
              <div class="ellipsis">{{task.name}}</div>
            </a>
          </div>

          <ul *ngIf="isOpen(task.id)">
            <li class="item depth"
                *ngFor="let ticket of _.filter(tickets, {taskId: task.id})">
              <div class="head">
                <a routerLink="tickets/{{ticket.id}}" class="link">
                  <core-icon [icon]="ticket.status"></core-icon>
                  <div class="ellipsis">{{ticket.name}}</div>
                </a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
