<!--
* @Author                : 0K00<qdouvillez@gmail.com>
* @CreatedDate           : 2023-04-13 14:37:00
* @LastEditors           : 0K00<qdouvillez@gmail.com>
* @LastEditDate          : 2023-04-13 15:08:04
-->

<ng-container *ngIf="isEdit">
  <app-dropdown [contentOnly]="true" placeholder="level" [search]="true" [options]="options" [autoAdd]="true" [multi]="true">
    <!-- <app-labels *ngFor="let option of options" [name]="option.name" [color]="option.color"></app-labels> -->
  </app-dropdown>
</ng-container>

<!-- <ng-container *ngIf="!isEdit">
  <ng-container *ngFor="let label of labels">
    <app-labels [name]="label.name" [color]="label.color"></app-labels>
  </ng-container>
</ng-container> -->
