<!--
* @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>
* @CreatedDate           : 2023-09-22 18:44:00
* @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>
* @LastEditDate          : 2023-09-25 13:20:58
-->

<div class="view-projects">
  <ng-template [ngIf]="projects" [ngIfElse]="loading">
    <div class="header">
      <h3>Projects</h3>

      <core-button  type="flat"
                    label="New project (Alt + P)"
                    (click)="createProject()"/>
    </div>

    <section-projects-list [projects]="projects"/>
  </ng-template>

  <ng-template #loading>
    <div class="loading">
      <core-loading/>
    </div>
  </ng-template>
</div>
