/*****************************************************************************
 * @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @CreatedDate           : 2023-09-22 18:53:20                              *
 * @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @LastEditDate          : 2023-09-25 11:14:01                              *
 ****************************************************************************/

.view-projects {
  position: relative;
  height: 100%;

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h3 {
    padding: 15px 20px;
    border-bottom: 1px solid rgba(255,255,255,.08);
  }
}
