<!--
* @Author                : 0K00<qdouvillez@gmail.com>
* @CreatedDate           : 2023-09-28 15:01:00
* @LastEditors           : 0K00<qdouvillez@gmail.com>
* @LastEditDate          : 2024-01-16 19:20:54
-->

<div class="view-smtp-settings">
  <ng-template [ngIf]="smtp" [ngIfElse]="loading">
    <div class="form">
      <core-input label="Host"
                  [isLabel]="true"
                  [(value)]="smtp.host"
                  [disabled]="!perm.getPermissions().smtp.update"
                  (keydown.enter)="save()"
                  placeholder="Smpt host..."/>

      <core-input label="Port"
                  is="number"
                  [isLabel]="true"
                  [(value)]="smtp.port"
                  [disabled]="!perm.getPermissions().smtp.update"
                  (keydown.enter)="save()"
                  placeholder="Smpt port..."/>

      <core-input label="User"
                  [isLabel]="true"
                  [(value)]="smtp.user"
                  [disabled]="!perm.getPermissions().smtp.update"
                  (keydown.enter)="save()"
                  placeholder="Smpt user..."/>

      <core-input-pwd label="Password"
                      [isLabel]="true"
                      [value]="smtp.password || ''"
                      [disabled]="!perm.getPermissions().smtp.update"
                      (valueChange)="smtp.password = $event"
                      (keydown.enter)="save()"
                      placeholder="Smpt password..."/>

      <core-button [disabled]="!perm.getPermissions().smtp.update" class="button" label="Save" type="flat" [style]="'primary'" (click)="save()"/>
    </div>
  </ng-template>

  <ng-template #loading>
    <div class="loading">
      <core-loading/>
    </div>
  </ng-template>
</div>
