<!--
* @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>
* @CreatedDate           : 2023-09-28 16:17:00
* @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>
* @LastEditDate          : 2023-09-28 17:36:07
-->

<div  class="component-labels-settings-items">
  <div class="label-details">
    <div  class="label-tag"
          [ngStyle]="{'background': label.color+'30', 'color': label.color, 'border-color': label.color}">
      {{label.name}}
    </div>

    <div>{{label.description}}</div>
  </div>

  <div class="actions">
    <core-button label="Edit"/>
    <core-button (click)="remove()" [style]="'warn'">
      <core-icon icon="minus"/>
    </core-button>
  </div>
</div>
