/*****************************************************************************
 * @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @CreatedDate           : 2023-09-27 14:35:28                              *
 * @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @LastEditDate          : 2023-09-29 16:27:06                              *
 ****************************************************************************/

.section-tool-bar {
  padding: 5px 14px;
  background: #222222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000000;

  .icon {
    opacity: 0.5;

    &.active {
      color: #0055ff;
      opacity: 1;
    }
  }

  .end {
    display: flex;
    align-items: center;
    position: relative;
    gap: 4px;
  }
}
