/*****************************************************************************
 * @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @CreatedDate           : 2023-09-27 14:35:28                              *
 * @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @LastEditDate          : 2023-09-27 16:35:52                              *
 ****************************************************************************/

.section-tool-bar {
  padding: 5px 14px;
  background-color: rgb(34,34,34);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .icon {
    opacity: 0.5;

    &.active {
      color: #0055ff;
      opacity: 1;
    }
  }

  .end {
    display: flex;
    align-items: center;
    position: relative;
  }
}
