<!--
* @Author                : Adrien Lanco<adrienlanco0@gmail.com>
* @CreatedDate           : 2023-03-30 10:20:00
* @LastEditors           : Adrien Lanco<adrienlanco0@gmail.com>
* @LastEditDate          : 2023-03-30 10:40:58
-->

<div id="admin-users" class="main">
  <div class="users">

    <div *ngFor="let user of users" class="user">
      <div class="user-info">
        <p>{{ user.id }}</p>
        <p>{{ user.name }}</p>
        <p>{{ user.email }}</p>
      </div>
      <div class="user-actions">
        <label>
          Validate
          <input [(ngModel)]="user.validate" (ngModelChange)="setUserRight(user)" type="checkbox">
        </label>

        <label>
          Admin
          <input [(ngModel)]="user.isAdmin" (ngModelChange)="setUserRight(user)" type="checkbox">
        </label>
      </div>
    </div>
  </div>

</div>
