<!--
* @Author                : Adrien Lanco<adrienlanco0@gmail.com>
* @CreatedDate           : 2023-03-17 13:33:00
* @LastEditors           : Adrien Lanco<adrienlanco0@gmail.com>
* @LastEditDate          : 2023-03-17 13:38:43
-->

<div [ngClass]='{ prbar: true }'>
  <div class='prbar-title'>Advancement</div>
  <div class='prbar-container'>
      <div class='prbar-parent'>
          <div class='prbar-child' [style]="'width: ' + this.value + '%'"></div>
      </div>
      <div class='prbar-value'>{{ value }}% done</div>
  </div>
</div>
