/*****************************************************************************
 * @Author                : Jbristhuille<jbristhuille@gmail.com>             *
 * @CreatedDate           : 2024-07-25 20:12:15                              *
 * @LastEditors           : Jbristhuille<jbristhuille@gmail.com>             *
 * @LastEditDate          : 2024-07-25 20:21:33                              *
 ****************************************************************************/

.section-bottom-bar {
  background: #222222;
  padding: 4px 8px;
  border-top: 1px solid #000000;
  display: flex;
  justify-content: flex-end;
}
