<!--
* @Author                : 0K00<qdouvillez@gmail.com>
* @CreatedDate           : 2023-09-27 16:33:00
* @LastEditors           : 0K00<qdouvillez@gmail.com>
* @LastEditDate          : 2023-11-17 14:32:09
-->

<div class="component-menu-options" #menu>
  <core-button  *ngIf="user.getUser()?.id !== 'demo'"
                other="full"
                size="small"
                routerLink="/profile"
                (click)="onClose.emit()">
                <core-icon icon="human" />
                Profile
  </core-button>

  <core-button  other="full"
                size="small"
                routerLink="/settings"
                (click)="onClose.emit()">
                <core-icon icon="gear-1" />
                Settings
  </core-button>

  <core-button  *ngIf="user.getUser()?.id !== 'demo'"
                [style]="'warn'"
                size="small"
                (click)="user.logout()"
                other="full">
                <core-icon icon="exit" />
                Logout
  </core-button>
</div>
