/*****************************************************************************
 * @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @CreatedDate           : 2023-09-27 16:35:47                              *
 * @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @LastEditDate          : 2023-09-29 12:50:16                              *
 ****************************************************************************/

.component-menu-options {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(34, 34, 34);
  transform: translateY(calc(100% + 10px));
  border-radius: 8px;
  border: 1px solid #3d3d3d;
  z-index: 100;
}

.menu-options-back {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
