<!--
* @Author                : Jbristhuille<jbristhuille@gmail.com>
* @CreatedDate           : 2023-06-02 13:20:00
* @LastEditors           : Jbristhuille<jbristhuille@gmail.com>
* @LastEditDate          : 2024-07-26 15:23:01
-->

<div [ngClass]="['input', type, size, other]">

  <div class="container">
    <input  type="{{ showPassword ? 'text' : 'password' }}"
            [(ngModel)]="value"
            (ngModelChange)="valueChange.emit(value)"
            [disabled]="disabled"
            [placeholder]="placeholder"
            [autocomplete]="autocomplete"
            [id]="id" />

    <span class="toggle-icon" (click)="togglePasswordVisibility()">
      <core-icon *ngIf="showPassword" other="icon--24" icon="eye-close"></core-icon>
      <core-icon *ngIf="!showPassword" other="icon--24" icon="eye-open"></core-icon>
    </span>

    <label *ngIf="isLabel" [for]="id">
      {{ label }}
    </label>

  </div>

</div>
