<!--
* @Author                : 0K00<qdouvillez@gmail.com>
* @CreatedDate           : 2023-03-17 13:20:00
* @LastEditors           : 0K00<qdouvillez@gmail.com>
* @LastEditDate          : 2023-03-31 14:56:52
-->

<div [ngClass]="['input', type, size, other]">
  <input  [type]="is"
          [(ngModel)]="value"
          (ngModelChange)="valueChange.emit(value)"
          [disabled]="disabled"
          [placeholder]="placeholder"
          [autocomplete]="autocomplete"
          [id]="id" />
  <label *ngIf="isLabel === true" [for]="id">{{ label | capFL }}</label>
</div>
