<!--
* @Author                : Adrien Lanco<adrienlanco0@gmail.com>
* @CreatedDate           : 2023-03-17 13:20:00
* @LastEditors           : Adrien Lanco<adrienlanco0@gmail.com>
* @LastEditDate          : 2023-03-17 19:14:36
-->

<div [ngClass]="['input', type, size, other]">
  <input  [type]="is"
          [(ngModel)]="value"
          (ngModelChange)="valueChange.emit(value)"
          [disabled]="disabled"
          [placeholder]="placeholder"
          [autocomplete]="autocomplete"
          [id]="id" />
  <label *ngIf="isLabel === true" [for]="id">{{ label }}</label>
</div>
