<!--
* @Author                : 0K00<qdouvillez@gmail.com>
* @CreatedDate           : 2023-03-22 11:12:00
* @LastEditors           : 0K00<qdouvillez@gmail.com>
* @LastEditDate          : 2023-05-11 16:29:47
-->

<div class="comments">
  <h2>Comments</h2>
  <app-comment  *ngFor="let comment of comments"
                [id]="comment.id"
                [userId]="comment.author.id"
                [name]="comment.author.name"
                [content]="comment.content"
                [created]="comment.created"/>
  <div id="editor-js"></div>
  <button (click)="onSave()">toto</button>
</div>
