<!--
* @Author                : 0K00<qdouvillez@gmail.com>
* @CreatedDate           : 2023-03-22 11:12:00
* @LastEditors           : 0K00<qdouvillez@gmail.com>
* @LastEditDate          : 2023-05-12 15:59:31
-->

<div class="comments">
  <h2>Comments</h2>
  <app-comment  *ngFor="let comment of comments"
                [id]="comment.id"
                [userId]="comment.author.id"
                [name]="comment.author.name"
                [content]="comment.content"
                [created]="comment.created"/>
  <div class="publish">
    <div id="editor-js"></div>
    <app-button [ngStyle]="{'align-self': 'end'}" (click)="onSave()" size="md" type="prm" label="Publish" />
  </div>
</div>
