/*****************************************************************************
 * @Author                : AdrienLanco0<121338518+AdrienLanco0@users.noreply.github.com>*
 * @CreatedDate           : 2023-03-22 11:12:21                              *
 * @LastEditors           : AdrienLanco0<121338518+AdrienLanco0@users.noreply.github.com>*
 * @LastEditDate          : 2023-03-22 11:12:21                              *
 ****************************************************************************/

:host {
  grid-area: comment;
}

.comments {

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;

  h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgb(125, 125, 125);
  }

  .commentInput {
    display: flex;
    gap: 0.5rem;

    .input {
      width: 100%;
    }

    .btn {
      width: unset;
    }
  }
}


.ce-block__content, .ce-toolbar__content { max-width:calc(100% - 80px) !important; } .cdx-block { max-width: 100% !important; }

