<!--
* @Author                : AdrienLanco0<121338518+AdrienLanco0@users.noreply.github.com>
* @CreatedDate           : 2023-03-22 11:12:00
* @LastEditors           : AdrienLanco0<121338518+AdrienLanco0@users.noreply.github.com>
* @LastEditDate          : 2023-03-22 11:34:19
-->

<div class="comments">
  <h2>Comments</h2>
  <app-comment  *ngFor="let comment of comments"
                [id]="comment.id"
                [name]="comment.author.name"
                [content]="comment.content"
                [created]="comment.created"/>
  <div class="commentInput">
    <app-input id="newCommentContent" [(value)]="newCommentContent" placeholder="Add comment..." />
    <app-button id='newComment' type='scnd' size='md' label='Post' (click)='newComment()' />
  </div>
</div>
