/*****************************************************************************
 * @Author                : Adrien Lanco<adrienlanco0@gmail.com>             *
 * @CreatedDate           : 2023-02-24 14:54:36                              *
 * @LastEditors           : Adrien Lanco<adrienlanco0@gmail.com>             *
 * @LastEditDate          : 2023-03-17 13:47:42                              *
 ****************************************************************************/

 #header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  background: #363636;
  box-shadow: inset 0px -1px 0px #000000;
  padding: 0 0.5rem;

  .menu {
    grid-area: menu;
  }

  .bread {
    grid-area: bread;
    display: flex;
    justify-content: center;
  }

  .setting {
    grid-area: option;
    display: flex;
    justify-content: flex-end;
  }
}
