<!--
* @Author                : 0K00<qdouvillez@gmail.com>
* @CreatedDate           : 2023-03-17 13:48:00
* @LastEditors           : 0K00<qdouvillez@gmail.com>
* @LastEditDate          : 2023-03-20 15:38:11
*
-->

<div id="header">
  <menu class="menu">
    <ng-content></ng-content>
  </menu>
  <app-breadcrumbs class="bread" />
  <div class="setting">
    <app-button id='openSearch' type='trd' size='l'
                (click)='showModal = true'
                icon='search' iconPosition='only'
                [ngClass]="(showModal) ? 'active' : '' " />
    <app-button id='openOption' type='trd' size='l'
                icon='dotshorizontal' iconPosition='only' />
  </div>
  <app-modal [(isOpen)]="showModal">
        <app-search-bar />
  </app-modal>
</div>
