<!--
* @Author                : Adrien Lanco<adrienlanco0@gmail.com>
* @CreatedDate           : 2023-03-17 13:48:00
* @LastEditors           : Adrien Lanco<adrienlanco0@gmail.com>
* @LastEditDate          : 2023-03-30 11:01:00
-->

<div id="header">
  <menu class="menu">
    <ng-content></ng-content>
  </menu>
  <app-breadcrumbs class="bread" />
  <div class="setting">
    <app-button id='openSearch' type='trd' size='l'
                (click)='showModal = !showModal'
                icon='search' iconPosition='only'
                [other]="(showModal) ? 'active' : '' " />
    <app-button id='openOption' type='trd' size='l'
                (click)='showOption = !showOption'
                icon='dotshorizontal' iconPosition='only'
                [other]="(showOption) ? 'active' : '' " />
    <ng-container *ngIf="showOption">
      <div @nested class="menuOption">
        <div *ngIf="isAdmin" class="option setting" [routerLink]="['/admin']">Admin</div>
        <div class="option setting" [routerLink]="['/settings']">Settings</div>
        <div class="option disconnect" (click)="disconnect()">Disconnect</div>
      </div>
    </ng-container>
  </div>
  <app-modal [(isOpen)]="showModal">
        <app-search-bar *ngIf="showModal"/>
  </app-modal>
</div>
