<!--
* @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>
* @CreatedDate           : 2023-06-02 15:11:00
* @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>
* @LastEditDate          : 2023-06-02 15:43:48
-->

<!-- SUMMARY
  -- Step 1
  -- Step 2
  -- Step 3
  -- Step 4
  -- Step 5
  -- Step 6
-->

<div id="signup">
  <!-- Setp 1 -->
  <div *ngIf="step === 1" class="container" style="align-items: center; gap: 2rem; justify-items: center;">
    <div class="title">This is it!</div>

    <div class="subtitle">
      The first step to becoming an efficient project manager in <i class="blue">Statch</i>.
    </div>

    <input id="toStep2" type="button" value="Let’s get started!" (click)="checkStep()"/>
  </div>
  <!---->

  <!-- Step 2 -->
  <div *ngIf="step === 2" class="container" style="align-items: flex-start; gap: 1.5rem;">
    <div>
      <label for="name">{{error ? 'Name should not be empty' : 'Your name'}}</label>
      <input  id="name"
              name="name"
              ngClass="{{error ? 'invalid' : '' }}"
              [(ngModel)]="name"
              placeholder="{{error ? 'Name should not be empty...' : 'Enter your name...'}}"
              type="text"/>
    </div>

    <input id="toStep3" type="button" value="Next" (click)='checkStep()'/>
  </div>
  <!---->

  <!-- Step 3 -->
  <div *ngIf="step === 3" class="container" style="align-items: flex-start; gap: 1.5rem;">
    <div>
      <label for="email">{{error ? 'Please enter a valid email' : 'Your email'}}</label>
      <input  id="email"
              name="email"
              ngClass="{{error ? 'invalid' : '' }}"
              [(ngModel)]="email"
              placeholder="{{error ? 'Please enter a valid email...' : 'Enter your email...'}}"
              type="text"/>
    </div>

    <input id="toStep4" type="button" value="Next" (click)="checkStep()"/>
  </div>
  <!---->

  <!-- Step 4 -->
  <div *ngIf="step === 4" class="container" style="align-items: flex-start; gap: 1.5rem;">
    <div>
      <label for="pwd">{{error ? 'Passwords are not matching' : 'Enter your password'}}</label>
      <input  id="pwd"
              ngClass="{{error ? 'invalid' : '' }}"
              [(ngModel)]="pwd"
              type="password"
              placeholder="{{error ? 'Passwords are not matching...' : 'Enter your password...'}}"  />
    </div>

    <div>
      <label for="conPwd">{{error ? 'Passwords are not matching' : 'Rewrite your password'}}</label>
      <input  id="conPwd"
              ngClass="{{error ? 'invalid' : '' }}"
              [(ngModel)]="conPwd"
              type="password"
              placeholder="{{error ? 'Passwords are not matching...' : 'Confirm your password...'}}"/>
    </div>

    <input id="toStep5" type="button" (click)="checkStep()" value="next"/>
  </div>
  <!---->

  <!-- Step 5 -->
  <div *ngIf="step === 5" class="container" style="align-items: center; gap: 2rem;">
    <div class="title">Creating User...</div>
    <div class="subtitle">Please wait while creating your account.</div>
  </div>
  <!---->

  <!-- Step 6 -->
  <div *ngIf="step === 6" class="container" style="align-items: center; gap: 2rem;">
    <div class="title">Completed!</div>
    <div class="subtitle">Just wait for the person in charge to validate your account.</div>

    <a href="/login">
      <div>
        Return to login<app-icons [ngClass]="'icon'" icon="arrow-right" />
      </div>
    </a>
  </div>
  <!---->
</div>
