<!--
* @Author                : Adrien Lanco<adrienlanco0@gmail.com>
* @CreatedDate           : 2023-03-17 14:41:00
* @LastEditors           : Adrien Lanco<adrienlanco0@gmail.com>
* @LastEditDate          : 2023-03-17 20:36:37
-->

<div id="nav">
  <header>
    Half Square
  </header>
  <nav>
    <app-button id="goProjects" type="trd" size="l"
                icon="dashboard" icon-position="only"
                routerLink="/project"/>
    <app-button id="goActivity" type="trd" size="l"
                icon="bell" icon-position="only"
                routerLink="/activity" />
    <app-button id="add" type="trd" size="l"
                icon="plus" icon-position="only"
                routerLink="/add"  />
    <app-button id="goFollow" type="trd" size="l"
                icon="flag" icon-position="only"
                routerLink="/follow"  />
    <app-button id="goSetting" type="trd" size="l"
                icon="gear" icon-position="only"
                routerLink="/settings"  />
  </nav>
  <div class="menu">

    <app-collapse *ngFor="let project of projects"
                  [label]="project.name"
                  [id]="project.id"
                  [type]="'project'"
                  [status]="project.status"
                  [depth]="1">

      <app-collapse *ngFor="let task of project.tasks"
                    [label]="task.name"
                    [id]="task.id"
                    [type]="'task'"
                    [status]="task.status"
                    [depth]="2">

        <app-collapse *ngFor="let ticket of task.tickets"
                      [label]="ticket.name"
                      [id]="ticket.id"
                      [type]="'ticket'"
                      [status]="ticket.status"
                      [noContent]="true"
                      [depth]="3">
        </app-collapse>

        <app-button class="newTicket" type="scnd" size="md"
        label="New ticket (Alt + T)"
        (click)='openNewTicket(task.id)' />
      </app-collapse>


      <app-button class="newTask" type="scnd" size="md"
      label="New task (Alt + N)"
      (click)='openNewTask(project.id)' />
    </app-collapse>


    <app-button class="newProject" type="scnd" size="md"
    label="New project (Alt + N)"
    (click)='openNewProject()' />
  </div>
</div>
