<!--
* @Author                : Adrien Lanco<adrienlanco0@gmail.com>
* @CreatedDate           : 2023-03-17 15:15:00
* @LastEditors           : Adrien Lanco<adrienlanco0@gmail.com>
* @LastEditDate          : 2023-03-17 16:26:02
-->

<div class="searchBar">
  <div class="searchInput">
        <i class="icon search"></i>
        <input type="text" id="inputSearch" autocomplete="off"
          placeholder="Search for commands or in projects..."
          [(ngModel)]="query"
          input="handleInput"
          (keydown.down)="focusNextResult"
          (keydown.up)="focusPrevResult"
          (keydown.enter)="handleEnter" />
  </div>

      <div @nested *ngIf="results.length > 0" class="subtitle">Results</div>

      <ul @nested class="results" *ngIf="results.length > 0">
        <li *ngFor="let result of results; let index = index"
            [ngClass]="{ focused: index === focusedResult }"
            (click)="selectResult(result)"
            (mouseover)="focusResult(index)">{{ result.name }}</li>
      </ul>

      <div @nested *ngIf="results.length > 0" class="footer">
        Go to
        <div class="shortcut"><i class="icon enter"></i></div>
      </div>
</div>
