<!--
* @Author                : 0K00<qdouvillez@gmail.com>
* @CreatedDate           : 2023-09-28 13:52:00
* @LastEditors           : 0K00<qdouvillez@gmail.com>
* @LastEditDate          : 2024-01-17 18:58:27
-->

<div class="view-profile">
  <ng-template [ngIf]="profile" [ngIfElse]="loading">
    <div class="profile-card">
      <div>
        <label for="avatarIcon">
          <core-avatar [label]="profile.name" [showLabel]="false" other="profile" [imgLink]="profile.picture !== '' ? profile.picture : null"/>
        </label>
        <input type="file" id="avatarIcon" [disabled]="!perm.check({type: 'profile', actions: [{type: 'update', actions: ['picture']}]})" (change)="uploadAvatar($event)" hidden/>
      </div>

      <div class="inputs">
        <core-input [isLabel]="true"
                    label="Name"
                    placeholder="Your name..."
                    other="full"
                    [disabled]="!perm.check({type: 'profile', actions: [{type: 'update', actions: ['name']}]})"
                    (keydown.enter)="saveProfile()"
                    [(value)]="profile.name"/>

        <core-input [isLabel]="true"
                    label="Email"
                    placeholder="Your email..."
                    [disabled]="!perm.check({type: 'profile', actions: [{type: 'update', actions: ['email']}]})"
                    (keydown.enter)="saveProfile()"
                    [(value)]="profile.email"/>

        <core-button  class="button"
                      label="Save"
                      type="flat"
                      [style]="'primary'"
                      (click)="saveProfile()"/>
      </div>
    </div>
  </ng-template>

  <ng-template #loading>
    <div class="loading">
      <core-loading/>
    </div>
  </ng-template>
</div>
