/*****************************************************************************
 * @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @CreatedDate           : 2023-09-25 10:35:31                              *
 * @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @LastEditDate          : 2023-09-25 10:36:56                              *
 ****************************************************************************/

:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

:host.sm svg {
  height: 16px;
  width: 16px;
}
:host.md svg {
  height: 16px;
  width: 16px;
}
:host.l svg {
  height: 24px;
  width: 24px;
}
:host.xl svg {
  height: 24px;
  width: 24px;
}

.icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

.icon.new {
  color: #d0d0d0;
}

.icon.progress {
  color: #fffb00;
}

.icon.done {
  color: #15ff00;
}

.icon.reject {
  color: #fe3232;
}

.icon.wait {
  color: #575757;
}

:root {
  --icon-sm: 0.8em;
  --icon-lg: 1.2em;
}

/* relative units */
.icon--sm {
  font-size: var(--icon-sm);
}

.icon--lg {
  font-size: var(--icon-lg);
}

/* absolute units */
.icon--16 {
  width: 16px;
  height: 16px;
}

.icon--24 {
  width: 24px;
  height: 24px;
}

.icon--32 {
  width: 32px;
  height: 32px;
}

.icon use {
  --icon-stroke-linecap-butt: butt;
  stroke-miterlimit: 10;
  stroke-linecap: square;
  stroke-linejoin: miter;
}

.stroke-round use {
  --icon-stroke-linecap-butt: round;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.icon--rotate-90 {
  transform: rotate(90deg);
}

.icon--rotate-180 {
  transform: rotate(180deg);
}

.icon--rotate-270 {
  transform: rotate(270deg);
}

.icon--flip-y {
  transform: scaleY(-1);
}

.icon--flip-x {
  transform: scaleX(-1);
}

.icon--is-spinning {
  animation: icon-spin 1s infinite linear;
}

@keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
