/*****************************************************************************
 * @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @CreatedDate           : 2023-09-29 11:17:49                              *
 * @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @LastEditDate          : 2023-09-29 11:57:15                              *
 ****************************************************************************/

.component-activity-item {
  display: flex;
  align-items: center;
  gap: 16px;
}
