/*****************************************************************************
 * @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @CreatedDate           : 2023-03-17 12:03:13                              *
 * @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @LastEditDate          : 2023-05-11 12:43:15                              *
 ****************************************************************************/

.avatar {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 999px;
  background: rgba(0, 108, 255, 1);
  color: white;
  overflow: hidden;

  &.no-img {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
    text-transform: capitalize;
  }

  &.big {
    width: 150px;
    height: 150px;
    font-size: 32px;
  }

  img {
    width: 100%;
  }
}
