<!--
* @Author                : 0K00<qdouvillez@gmail.com>
* @CreatedDate           : 2023-03-17 12:09:00
* @LastEditors           : 0K00<qdouvillez@gmail.com>
* @LastEditDate          : 2023-03-25 17:27:51
-->

<ng-container *ngIf="imgPath">
  <div routerLink="{{ 'user/'+userId }}" class="{{ classes }}">
    <img *ngIf="imgPath != null" src="{{ imgPath }}" alt="{{ alt }}" />
  </div>
</ng-container>

<ng-container *ngIf="!imgPath">
  <div routerLink="{{ 'user/'+userId }}" class="avatar noImg">
    {{ userName }}
  </div>
</ng-container>
