<!--
* @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>
* @CreatedDate           : 2023-03-17 12:09:00
* @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>
* @LastEditDate          : 2023-05-11 14:54:01
-->

<ng-container *ngIf="imgPath">
  <div routerLink="{{ 'user/'+userId }}" class="avatar {{ classes }}">
    <img *ngIf="imgPath != null" src="{{ env.SERVER_URL }}/{{ imgPath }}" alt="{{ alt }}" />
  </div>
</ng-container>

<ng-container *ngIf="!imgPath">
  <div routerLink="{{ 'user/'+userId }}" class="{{ classes }} avatar no-img">
    {{ userName ? userName[0] : "" }}
  </div>
</ng-container>
