/*****************************************************************************
 * @Author                : Adrien Lanco<adrienlanco0@gmail.com>             *
 * @CreatedDate           : 2023-03-17 12:03:13                              *
 * @LastEditors           : Adrien Lanco<adrienlanco0@gmail.com>             *
 * @LastEditDate          : 2023-03-17 12:03:13                              *
 ****************************************************************************/

.avatar {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 999px;
  background: rgba(55, 117, 202, 1);
  color: white;
}

.avatar.noImg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
}
