<!--
* @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>
* @CreatedDate           : 2023-09-28 14:50:00
* @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>
* @LastEditDate          : 2023-09-28 15:29:54
-->

<div class="view-settings">
  <div class="settings-nav">
    <ng-template ngFor let-item [ngForOf]="menu">
      <a  class="settings-nav-item"
          [routerLink]="[item.link]"
          routerLinkActive="active"
          *ngIf="!item.admin || user.isAdmin()">
        {{item.label}}
      </a>
    </ng-template>
  </div>

  <div class="settings-view">
    <router-outlet></router-outlet>
  </div>
</div>
