<!--
* @Author                : 0K00<qdouvillez@gmail.com>
* @CreatedDate           : 2023-03-27 16:23:00
* @LastEditors           : 0K00<qdouvillez@gmail.com>
* @LastEditDate          : 2023-04-17 15:18:18
-->

<ng-container *ngIf="isEdit">
  <app-dropdown [contentOnly]="true" [placeholder]="level">
    <app-level *ngFor="let option of options" [full]="true" [degree]="option.text"
                (click)="selectLevel(option.text)" />
  </app-dropdown>
</ng-container>

<ng-container *ngIf="!isEdit" >
  <app-level (click)="isEdit = true" [degree]="level"></app-level>
</ng-container>
