/*****************************************************************************
 * @Author                : Adrien Lanco<adrienlanco0@gmail.com>             *
 * @CreatedDate           : 2023-02-23 12:56:16                              *
 * @LastEditors           : Adrien Lanco<adrienlanco0@gmail.com>             *
 * @LastEditDate          : 2023-03-17 13:42:53                              *
 ****************************************************************************/

 .comment {
  display: grid;
  grid-template-columns: 0fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.25rem 0.5rem;
  align-items: center;
  grid-template-areas:
    "img info"
    ". content";
}

.comment .img {
  grid-area: img;
}

.comment .info {
  grid-area: info;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(112, 112, 112, 1);
}

.comment .content {
  grid-area: content;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(200, 200, 200, 1);
}
