/*****************************************************************************
 * @Author                : AdrienLanco0<121338518+AdrienLanco0@users.noreply.github.com>*
 * @CreatedDate           : 2023-02-23 12:56:16                              *
 * @LastEditors           : AdrienLanco0<121338518+AdrienLanco0@users.noreply.github.com>*
 * @LastEditDate          : 2023-03-22 11:35:29                              *
 ****************************************************************************/

.comment {
  display: grid;
  grid-template-columns: 0fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.25rem 0.5rem;
  align-items: center;
  grid-template-areas:
    "img info"
    ". content";

  .img {
    grid-area: img;
  }

  .info {
    grid-area: info;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(112, 112, 112, 1);
  }

  .content {
    grid-area: content;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(200, 200, 200, 1);
    overflow-wrap: anywhere;
  }
}
