<!--
* @Author                : 0K00<qdouvillez@gmail.com>
* @CreatedDate           : 2023-03-17 11:57:00
* @LastEditors           : 0K00<qdouvillez@gmail.com>
* @LastEditDate          : 2023-05-11 16:38:49
-->

<div class="comment">
  <div class="header">
    <div class="user">
      <div class="img">
        <app-avatar [userId]="userId" [imgPath]="imgPath" [alt]="name + 'photo'" [userName]="name"></app-avatar>
      </div>
      <div class="info">{{ name | capFL }} {{ lastName | capFL }}, {{ created | dateDifference }}</div>
    </div>
    <app-button *ngIf="userId === actualUser.id" (click)="onDelete()" label="Delete" size="sm" type="trd"  />
  </div>
  <div class="content" [id]="id"></div>
</div>


