/*****************************************************************************
 * @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @CreatedDate           : 2023-09-25 13:32:31                              *
 * @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @LastEditDate          : 2023-09-25 17:28:52                              *
 ****************************************************************************/

.view-my-tasks {
  position: relative;
  overflow: hidden;

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-bottom: 1px solid #3d3d3d;
    height: 40px;
    position: fixed;
    top: 41px;
    width: 100vw;
    background: #17161a;
    z-index: 1;
  }

  .main {
    margin-top: 41px;
    overflow-y: auto;
    height: calc(100vh - 82px);
  }

  .items-list {
    display: grid;
    gap: 1px;

    &:last-child {
      border-bottom: 1px solid #3d3d3d;
    }

    :last-child {
      border-bottom: none;
    }
  }
}
