<!--
* @Author                : 0K00<qdouvillez@gmail.com>
* @CreatedDate           : 2023-03-24 14:57:00
* @LastEditors           : 0K00<qdouvillez@gmail.com>
* @LastEditDate          : 2023-03-29 20:11:12
-->

<div id="assign" class="main">
  <div class="header">
      <div class="right">
          <h2>My tasks</h2>
          <!-- <app-button id="filter" type="fth" size="md" label="Add filter +" /> -->
      </div>
  </div>
  <div class="content" >
    <app-collapse *ngFor="let project of projects"
    [label]="project.name"
    [id]="project.id"
    [type]="'project'"
    [status]="project.status"
    [isOpen]="project.id == projectId"
    other="assign project"
    (onOpen)="command.getProject(project.id)"
    [depth]="0">
<app-collapse *ngFor="let task of project.tasks"
      [label]="task.name"
      [id]="task.id"
      [type]="'task'"
      [status]="task.status"
      [isOpen]="task.id == taskId"
      [version]="task.id"
      level="normal"
      other="assign task"
      (onOpen)="command.getTask(task.id)"
      [depth]="0">

<app-collapse *ngFor="let ticket of task.tickets"
        [label]="ticket.name"
        [id]="ticket.id"
        [type]="'ticket'"
        [version]="ticket.id"
        level="moderate"
        [status]="ticket.status"
        other="assign ticket"
        [noContent]="true"
        [depth]="0">
</app-collapse>
</app-collapse>
</app-collapse>

  </div>
</div>
