<!--
* @Author                : 0K00<qdouvillez@gmail.com>
* @CreatedDate           : 2023-03-17 15:48:00
* @LastEditors           : 0K00<qdouvillez@gmail.com>
* @LastEditDate          : 2023-04-13 11:03:17
-->

<div id="signup">
  <div *ngIf="step === 1" class="container" style="align-items: center; gap: 2rem; justify-items: center;">
    <div class="title">This is it!</div>
    <div class="subtitle">The first step to becoming an efficient project manager in <i class="blue">Statch</i>.</div>
    <app-button id='toStep2' type='prm' size='md' label="Let’s get started!" (click)='checkStep()' icon='enter' iconPosition='right' />
  </div>
  <div *ngIf="step === 2" class="container" style="align-items: flex-start; gap: 1.5rem;">
    <app-input id="name" ngClass="{{error ? 'invalid' : '' }}" [(value)]="name" placeholder="{{error ? 'Name should not be empty...' : 'Enter your name...'}}" label="{{error ? 'Name should not be empty' : 'Your name'}}" type="prm" size="md" other="full" [isLabel]="true" />
    <app-button id='toStep3' type='prm' size='md' other="full" label="Next" (click)='checkStep()' icon='arrow-right' iconPosition='right' />
  </div>
  <div *ngIf="step === 3" class="container" style="align-items: flex-start; gap: 1.5rem;">
    <app-input id="email" ngClass="{{error ? 'invalid' : '' }}" [(value)]="email" placeholder="{{error ? 'Please enter a valid email...' : 'Enter your email...'}}" label="{{error ? 'Please enter a valid email' : 'Your email'}}" type="prm" size="md" other="full" [isLabel]="true" />
    <app-button id='toStep4' type='prm' size='md' other="full" label="Next" (click)='checkStep()' icon='arrow-right' iconPosition='right' />
  </div>
  <div *ngIf="step === 4" class="container" style="align-items: flex-start; gap: 1.5rem;">
    <app-input id="pwd" ngClass="{{error ? 'invalid' : '' }}" [(value)]="pwd" is="password" placeholder="{{error ? 'Passwords are not matching...' : 'Enter your password...'}}" label="{{error ? 'Passwords are not matching' : 'Enter your password'}}" type="prm" size="md" other="full" [isLabel]="true" />
    <app-input id="conPwd" ngClass="{{error ? 'invalid' : '' }}" [(value)]="conPwd" is="password" placeholder="{{error ? 'Passwords are not matching...' : 'Confirm your password...'}}" label="{{error ? 'Passwords are not matching' : 'Rewrite your password'}}"  type="prm" size="md" other="full" [isLabel]="true" />
    <app-button id='toStep5' type='prm' size='md' other="full" label="Finish" (click)='checkStep()' icon='arrow-right' iconPosition='right' />
  </div>
  <div *ngIf="step === 5" class="container" style="align-items: center; gap: 2rem;">
    <div class="title">Creating User...</div>
    <div class="subtitle">Please wait while creating your account.</div>
  </div>
  <div *ngIf="step === 6" class="container" style="align-items: center; gap: 2rem;">
    <div class="title">Completed!</div>
    <div class="subtitle">Just wait for the person in charge to validate your account.</div>
    <a href="/login">
      <div>
        Return to login<app-icons [ngClass]="'icon'" icon="arrow-right" />
      </div>
    </a>
  </div>
</div>
