<!--
* @Author                : Adrien Lanco<adrienlanco0@gmail.com>
* @CreatedDate           : 2023-03-23 16:39:00
* @LastEditors           : Adrien Lanco<adrienlanco0@gmail.com>
* @LastEditDate          : 2023-03-24 15:57:07
-->

<ng-container *ngIf="isEdit">
  <app-select [options]="options" [(value)]="value" (valueChange)="versionJustChange(value.text)"
              [search]="options.length > 5" placeholder="Add a version">
    <div class="newVersion">
      <input type="text" [(ngModel)]="newName" placeholder="+ New Version">
      <button *ngIf="newName" (click)="newVersion()">Add</button>
    </div>
  </app-select>
</ng-container>

<ng-container *ngIf="!isEdit">
  <p>{{ version.name }}</p>
</ng-container>
