<!--
* @Author                : Adrien Lanco<adrienlanco0@gmail.com>
* @CreatedDate           : 2023-03-23 16:39:00
* @LastEditors           : Adrien Lanco<adrienlanco0@gmail.com>
* @LastEditDate          : 2023-03-24 12:13:52
-->

<ng-container *ngIf="isEdit">
  <div (click)="isOpen = !isOpen">{{ version && version.name ? version.name : '' }}</div>
  <div *ngIf="isOpen">
    <div name="" id="">
      <div (click)="versionJustChange('')">
        No version
      </div>

      <div *ngFor="let vers of versionList" (click)="versionJustChange(vers.name)" >
        {{ vers.name }}
      </div>

      <div>
        <input type="text" [(ngModel)]="newName" placeholder="+ New Version">
        <button *ngIf="newName" (click)="newVersion()">Add</button>
      </div>
    </div>
  </div>

</ng-container>

<ng-container *ngIf="!isEdit">
  <p>{{ version.name }}</p>
</ng-container>
