.disabled {
  color: #3d3d3d;
}

.perms {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
  padding-right: 16px;

  .perm {
    border: 1px solid #3d3d3d;
    border-radius: 16px;
    padding: 16px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .label {
      display: flex;
      flex-direction: row;
      gap: 16px;
      align-items: center;

      .text {
        transform: translateY(1px);
      }
    }
  }
}

:host {
  .children {
    .perms {
      gap: 8px;
      padding-right: 0;
      .perm {
        border-color: transparent;
        font-size: 12px;
        line-height: 24px;
        padding: 0;
      }
    }
  }
}
