<!--
* @Author                : Quentin<quentin@halfsquare.fr>
* @CreatedDate           : 2023-09-21 13:14:00
* @LastEditors           : Quentin<quentin@halfsquare.fr>
* @LastEditDate          : 2023-09-22 18:08:04
-->

<div class="ptt">
  <div class="bar">
    <core-button [type]="'basic'" [style]="'default'" [size]="'medium'" ><core-icon icon="plus"></core-icon></core-button>
    <core-button (click)="assigneeSelf()" [type]="isAssignee ? 'flat' : 'basic'" [style]="'primary'" [size]="'medium'"><core-icon [icon]="isAssignee ? 'heart--fill' : 'heart'"></core-icon></core-button>
  </div>
  <div class="header">
    <section-ptt-header [edit]="onEdit" [title]="title" [description]="description">
      <core-button *ngIf="!onEdit" (click)="edit()" [type]="'basic'" [style]="'default'" [size]="'medium'" [label]="'Edit'"></core-button>
      <core-button *ngIf="onEdit" (click)="delete()" [type]="'stroked'" [style]="'warn'" [size]="'medium'" [label]="'Delete'"></core-button>
      <core-button *ngIf="onEdit" (click)="save()" [type]="'flat'" [style]="'primary'" [size]="'medium'" [label]="'Save'"></core-button>
    </section-ptt-header>
  </div>
  <div class="advancement">
    <section-ptt-advancement [value]="progressValue"></section-ptt-advancement>
    <section-ptt-list [elements]="elements">
      <div sort>
        Hello
      </div>
    </section-ptt-list>
  </div>
  <div class="comment">
    <section-ptt-comment></section-ptt-comment>
  </div>
  <div class="details">
    <section-ptt-details></section-ptt-details>
  </div>
</div>
