.ptt {
  position: relative;

  .bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    height: 40px;
    padding: 0 16px;
    border-bottom: 1px solid #3d3d3d;
    background: #17161a;
    z-index: 3;
  }

  .container {
    display: flex;
    overflow: hidden;
    height: calc(100vh - 85px);
  }

  .main {
    overflow: auto;
    flex-grow: 1;
    border-right: 1px solid #3d3d3d;
    .advancement {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 16px;
      border-bottom: 1px solid #3d3d3d;

      .add {
        display: flex;
        gap: 8px;
      }
    }
  }

  .aside {
    overflow: auto;

    .details {
      border-bottom: 1px solid #3d3d3d;
    }
  }
}
