<!--
* @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>
* @CreatedDate           : 2023-09-30 15:55:00
* @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>
* @LastEditDate          : 2023-09-30 17:55:46
-->

<div class="view-ptt">
  <ng-template [ngIf]="item" [ngIfElse]="loading">
    <section-ptt-tool-bar [isParentOf]="type != 'tickets'"
                          [isAssignee]="_.find(item.assignments, {userId: user.getUser()?.id}) != null"
                          (onDelete)="deleteItem()"
                          (onCreateChild)="createChild()"/>

    <div class="container">
      <div class="main">
        <section-ptt-header [(item)]="item" (itemChange)="saveItem()"/>

        <div *ngIf="type != 'tickets'" class="advancement">
          <section-ptt-advancement [value]="setAdvancement()"/>

          <section-ptt-list [elements]="childs" [type]="childType">
            <ng-container sort>
              {{type}}

              <!--
              <component-select [data]="versions"
                                [placeholder]="'Select verions to sort...'"
                                [multi]="true"
                                [hasSearch]="false">
                                (callback)="sortElement($event)"
              </component-select>
              -->
            </ng-container>

            <div class="add" add (click)="createChild()">
              <core-icon icon="plus"></core-icon>
              Create new {{childType}}
            </div>
          </section-ptt-list>
        </div>
      </div>


    </div>
  </ng-template>

  <ng-template #loading>
    <div class="loading">
      <core-loading/>
    </div>
  </ng-template>
</div>
