<!--
* @Author                : 0K00<qdouvillez@gmail.com>
* @CreatedDate           : 2023-09-21 13:14:00
* @LastEditors           : 0K00<qdouvillez@gmail.com>
* @LastEditDate          : 2023-09-27 14:35:29
-->

<div class="ptt">
  <div class="bar">
    <core-button [type]="'basic'" [style]="'default'" [size]="'medium'" ><core-icon icon="plus"></core-icon></core-button>
    <core-button (click)="assigneeSelf()" [type]="isAssignee ? 'flat' : 'basic'" [style]="'primary'" [size]="'medium'"><core-icon [icon]="isAssignee ? 'heart--fill' : 'heart'"></core-icon></core-button>
  </div>

  <div class="header">
    <section-ptt-header
      *ngIf="_.find(type == 'tickets' ? tickets : (type == 'projects' ? projects : tasks), {id: id})"
      [edit]="onEdit"
      (callback)="headerSave($event)"
      [title]="_.find(type == 'tickets' ? tickets : (type == 'projects' ? projects : tasks), {id: id}).name"
      [description]="_.find(type == 'tickets' ? tickets : (type == 'projects' ? projects : tasks), {id: id}).description">

      <!-- <core-button *ngIf="!onEdit" (click)="edit()" [type]="'basic'" [style]="'default'" [size]="'medium'" [label]="'Edit'"/>
      <core-button *ngIf="onEdit" (click)="delete()" [type]="'stroked'" [style]="'warn'" [size]="'medium'" [label]="'Delete'"/>
      <core-button *ngIf="onEdit" (click)="save()" [type]="'flat'" [style]="'primary'" [size]="'medium'" [label]="'Save'"/> -->

    </section-ptt-header>
  </div>

  <div *ngIf="type != 'tickets'" class="advancement">

    <section-ptt-advancement [value]="progressValue"></section-ptt-advancement>

    <section-ptt-list
      [elements]="_.filter(type === 'projects' ? printTasks : printTickets, type === 'projects' ? {projectId: id} : {taskId: id})"
      [type]="typeChild">

      <div sort>
        <component-select
          *ngIf="type === 'projects' ? id :  _.find(tasks, {id: id})"
          [data]="_.filter(versions, {projectId: type === 'projects' ? id : _.find(tasks, {id: id}).projectId})"
          [placeholder]="'Select verions to sort...'"
          [multi]="true"
          [hasSearch]="false"
          (callback)="sortElement($event)">
        </component-select>
      </div>

      <div class="add" add>
        <core-icon icon="plus"></core-icon>
        Create new {{type === "projects" ? "task" : "ticket"}}
      </div>

    </section-ptt-list>
  </div>

  <div class="comment">
    <section-ptt-comment></section-ptt-comment>
  </div>
  <div class="details">
    <section-ptt-details></section-ptt-details>
  </div>
</div>
