<!--
* @Author                : Adrien Lanco<adrienlanco0@gmail.com>
* @CreatedDate           : 2023-03-17 16:48:00
* @LastEditors           : Adrien Lanco<adrienlanco0@gmail.com>
* @LastEditDate          : 2023-03-21 20:39:12
-->

<div id="project">
  <div class="project">
    <div class="main">
      <header>
        <h1 edtTxt [isEdit]="onEdit" [(value)]="project.name"></h1>
        <h2 edtTxt [isEdit]="onEdit" [(value)]="project.description"></h2>

        <app-button id="editProj" type="scnd" size="md" label="Edit Project" *ngIf="!onEdit" (click)="redirectToEdit()" />
        <app-button id="saveProj" type="scnd" size="md" label="Save Project" *ngIf="onEdit" (click)='saveProject()' />
      </header>
      <div class="advancement">
        <app-progress-bar id="test" [value]="15" />
        <div class="tasks">

          <a class="task" *ngFor="let task of project.tasks" [href]="'/task/'+task.id">
            <div class="block">
              <div class="status"><app-status [status]="task.status" /></div>
              <div class="id">{{ task.id }}</div>
              <div class="description">{{ task.description }}</div>
            </div>
            <div class="block">
              <!-- <app-label :level="task.level" />
              <app-avatar :id="task.name" /> -->
            </div>
          </a>

          <a class="task" (click)="command.openNewTask(project.id)">
            Create new Task
          </a>
        </div>
      </div>
      <div class="comments">
        <h2>Comments</h2>
        <app-comment  *ngFor="let comment of comments"
                      [id]="comment.id"
                      [name]="comment.author.name"
                      [lastName]="comment.author.lastName"
                      [content]="comment.content"
                      [created]="comment.created"/>
        <div class="commentInput">
          <app-input id="newCommentContent" [(value)]="newCommentContent" placeholder="Add comment..." />
          <app-button id='newComment' type='scnd' size='md' label='Post' (click)='newComment' />
        </div>
      </div>
    </div>
    <aside>
      <div class="details">
        <h3>Details</h3>
        <div class="container">
          <h4>Assignee</h4>
          <div class="text">
            <app-avatar  id="randy" />
            Randy Gouse
          </div>
        </div>
        <div class="container">
          <h4>Owner</h4>
          <div class="text">
            <app-avatar id="madelyn" />
            {{ project.owner ? project.owner.name : "" }}
          </div>
        </div>
        <div class="container">
          <h4>Version</h4>
          <div class="text" edtTxt [isEdit]="onEdit" [(value)]="project.version"></div>
        </div>
        <div class="container">
          <h4>Status</h4>
          <div class="text">
            <app-status-labeled [isEdit]="onEdit" [(status)]="project.status"/>
          </div>
        </div>
        <div class="container">
          <h4>No. of tasks</h4>
          <div><a href="/create">{{ project.tasks ? project.tasks.length : '0' }} tasks <i class="icon arrowright"></i></a></div>
        </div>
        <div class="container">
          <h4>Created</h4>
          <div class="text">{{ project.created }}</div>
        </div>
      </div>
      <div class="activity">
        <h3>Last activity</h3>
        <div class="content" *ngFor="let item of activity">
          <div class="img"><app-avatar [id]="item.name" /></div>
          <div class="name">{{ item.name }}</div>
          <div class="desc">{{ item.action }} <a [href]="item.url">{{ item.id }}</a>, {{ item.time }} ago</div>
        </div>
      </div>
    </aside>
  </div>
</div>
