<!--
* @Author                : Adrien Lanco<adrienlanco0@gmail.com>
* @CreatedDate           : 2023-03-17 16:48:00
* @LastEditors           : Adrien Lanco<adrienlanco0@gmail.com>
* @LastEditDate          : 2023-04-18 17:23:19
-->

<div id="project">
  <div class="header">
    <app-button type="fth" size="sm" icon="plus" iconPosition="only" (click)="command.openNewTask(project.id)"></app-button>
    <app-assignee-section [buttonOnly]="true" [assignees]="project ? project.assignments : []"
    [data]="project" [dataType]="'project'"></app-assignee-section>
  </div>
  <div class="project">
    <div class="main">
      <header>
        <div class="edit">
          <app-button id="editProj" type="trd" size="md" label="Edit" *ngIf="!onEdit" (click)="redirectToEdit()" />
          <app-button id="deleteProj" type="del" size="md" label="Delete" *ngIf="onEdit" (click)='command.deleteProject(project.id)' />
          <app-button id="saveProj" type="prm" size="md" label="Publish" *ngIf="onEdit" (click)='saveProject()' />
        </div>
        <h1 edtTxt [isEdit]="onEdit" [(value)]="project.name"></h1>
        <h2>Description</h2>
        <p edtTxt [isEdit]="onEdit" [(value)]="project.description"> </p>
      </header>
      <ng-container *ngIf="!windowWidth">
        <div class="details">
          <h3>Details</h3>
          <div class="elements">
            <div class="container">
              <h4>Id</h4>
              <div class="text space">
                {{project.id}}
              </div>
            </div>
            <div class="container">
              <h4>Owner</h4>
              <div class="text space">
                <app-avatar id="madelyn" [userName]="project && project.owner ? project.owner.name : ''" />
                {{ project.owner ? project.owner.name : "" }}
              </div>
            </div>
            <div class="container">
              <h4>Assignee</h4>
              <div class="text">
                <app-assignee-section [assignees]="project ? project.assignments : []"
                                      [data]="project" [dataType]="'project'" />
              </div>
            </div>
            <div class="container">
              <h4>Version</h4>
              <div class="text space">
                <app-versions-section [isEdit]="true" [isProject]="true"
                    [version]="getProjectVersion()" (versionNameChange)="changeProjectVersion($event)" />
              </div>
            </div>
            <div class="container">
              <h4>Status</h4>
              <div class="text space">
                <app-status-labeled [isEdit]="true" [(status)]="project.status" (statusChange)="saveProject()"/>
              </div>
            </div>
            <div class="container">
              <h4>Labels</h4>
              <div class="text">
                <app-labels-section placeholder="Select label" [(labels)]="project.labels" (labelsChange)="saveProject()" />
              </div>
            </div>
            <div class="container">
              <h4>No. of tasks</h4>
              <div class="text space"><a href="/create">
                {{ project && project.tasks ? project.tasks.length : '0' }}
                {{ project && project.tasks && project.tasks.length > 1 ? "tasks" : "task"}}
                <app-icons [ngClass]="'icon'" icon="arrow-right" />
              </a></div>
            </div>
            <div class="container">
              <h4>Created</h4>
              <div class="text space">{{ project.created | dateDifference }}</div>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="advancement">
        <app-progress-bar id="test" [value]="advancement" />
        <div class="tasks">
          <div class="filter">
            <div class="tabs">
              <div class="tab showAll" [ngClass]="!showAll ? 'selected' : ''" (click)="showAll = false; showSelector = false; triggerShow('')">
                <app-icons [ngClass]="'icon'" icon="fries"></app-icons>
              </div>
              <div class="tab selector showFilter" [ngClass]="showAll ? 'selected' : ''" (click)="showAll = true; triggerShow(selectVersion.id)">
                <div class="control">
                  <app-icons [ngClass]="'icon'" icon="straw"></app-icons>
                  <div class="select" (click)="showSelector = !showSelector;" @tab *ngIf="showAll">
                    {{selectVersion.name ? selectVersion.name : "Version"}}
                    <app-icons [ngClass]="'icon'" icon="{{showSelector ? 'chevron-up' : 'chevron-down'}}"></app-icons>
                  </div>
                </div>
                <div @nested *ngIf="showSelector" class="options">
                  <div class="container">
                    <div class="option" *ngFor="let option of options" (click)="selectVersion = option; showSelector = false; triggerShow(option.id)">
                      {{option.name}}
                    </div>
                    <div class="no option" *ngIf="options.length < 1">
                      No version
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="task" *ngFor="let task of advancementTasks" [href]="'/task/'+task.id">
            <div class="container">
              <div class="block">
                <div class="right">
                  <div class="status"><app-status [status]="task.status" /></div>
                  <div *ngIf="task.targetVersion && task.targetVersion.name" class="version">{{ task.targetVersion.name }}</div>
                  <div class="name">{{ task.name }}</div>
                </div>
              </div>
              <div class="block">
                <ng-container *ngIf="task.labels.length < 4">
                  <div class="labels" *ngFor="let label of task.labels">
                    <app-labels name="{{label.name}}" color="{{label.color}}"></app-labels>
                  </div>
                </ng-container>
                <ng-container *ngIf="task.labels.length > 3">
                  <div class="labels" *ngFor="let label of task.labels | slice:0:1">
                    <app-labels name="{{label.name}}" color="{{label.color}}"></app-labels> + {{ task.labels.length - 1 }} {{(task.labels.length - 1) > 1 ? 'others' : 'other'}}
                  </div>
                </ng-container>
                <app-level [degree]="task.level" />
                <div class="assignee" ngClass="{{task.assignments.length > 1 ? 'over' : ''}}">
                  <div class="assign" *ngFor="let assignee of task.assignments | slice:0:2">
                    <app-avatar [userName]="assignee.name" />
                  </div>
                </div>
              </div>
            </div>
          </a>

          <a class="task add" (click)="command.openNewTask(project.id)">
            <app-icons [ngClass]="'icon'" icon="plus" />
            Create new Task
          </a>
        </div>
      </div>
      <ng-container *ngIf="!windowWidth">
        <div class="activity">
          <h3>Last activity</h3>
          <div class="content" *ngFor="let item of project.activitys">
            <app-activity-comp [activity]="item" [small]="true" />
          </div>
        </div>
      </ng-container>
      <app-comments-section targetType="projects" [targetId]="project.id" [comments]="project.comments" />
    </div>
    <aside *ngIf="windowWidth">
      <div class="details">
        <h3>Details</h3>
        <div class="container">
          <h4>Id</h4>
          <div class="text space">
            {{project.id}}
          </div>
        </div>
        <div class="container">
          <h4>Owner</h4>
          <div class="text space">
            <app-avatar [userName]="project && project.owner ? project.owner.name : ''" />
            {{ project.owner ? project.owner.name : "" }}
          </div>
        </div>
        <div class="container">
          <h4>Assignee</h4>
          <div class="text">
            <app-assignee-section [assignees]="project ? project.assignments : []"
                                  [data]="project" [dataType]="'project'" />
          </div>
        </div>
        <div class="container">
          <h4>Version</h4>
          <div class="text space">
            <app-versions-section [isEdit]="true" [isProject]="true"
                [version]="getProjectVersion()" (versionNameChange)="changeProjectVersion($event)" />
          </div>
        </div>
        <div class="container">
          <h4>Status</h4>
          <div class="text space">
            <app-status-labeled [isEdit]="true" [(status)]="project.status" (statusChange)="saveProject()"/>
          </div>
        </div>
        <div class="container labels">
          <h4 class="label">Labels</h4>
          <div class="text">
            <app-labels-section placeholder="Select label" [(labels)]="project.labels" (labelsChange)="saveProject()" />
          </div>
        </div>
        <div class="container">
          <h4>No. of tasks</h4>
          <div class="text space"><a href="/create">
            {{ project && project.tasks ? project.tasks.length : '0' }}
            {{ project && project.tasks && project.tasks.length > 1 ? "tasks" : "task"}}
            <app-icons [ngClass]="'icon'" icon="arrow-right" />
          </a></div>
        </div>
        <div class="container">
          <h4>Created</h4>
          <div class="text space">{{ project.created | dateDifference }}</div>
        </div>
      </div>
      <div class="activity">
        <h3>Last activity</h3>
        <div class="content" *ngFor="let item of project.activitys">
            <app-activity-comp [activity]="item" [small]="true" />
        </div>
      </div>
    </aside>
  </div>
</div>
