/*****************************************************************************
 * @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @CreatedDate           : 2023-10-03 11:28:33                              *
 * @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>        *
 * @LastEditDate          : 2023-10-03 11:33:24                              *
 ****************************************************************************/

.ptt-list {
  &.no-container {
    .sort {display: none;}
    .add-item {display: none;}
    .element.border-first {
      border-top: none;
    }
    .element.border-last {
      border-bottom: none;
    }
  }

  .sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    text-transform: capitalize;
  }

  .element:nth-child(2) {
    border-top: 1px solid #3d3d3d;
  }

  .element:not(:last-child) {
    border-bottom: 1px solid #3d3d3d;
  }

  .element:last-child {
    border-radius: 0 0 6px 6px;
  }

  .element.add-item {
    padding: 0;
  }

  .element {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 0 16px;
    align-items: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #eaeaea;
    cursor: pointer;

    &:hover {
      background: #303030;
    }

    .container {
      overflow: auto;
      width: 100%;
      padding: 16px 0;
      display: flex;
      gap: 8px;
      justify-content: space-between;
    }

    .container.add {
      padding: 0;
    }

    .block {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;

      .status {
        height: 16px;
      }

      .label.hidden {
        display: none;
      }

      .nowrap {
        white-space: nowrap;
      }

      .version {
        color: #a7a7a7;
      }

      .name {
        display: table;
        table-layout: fixed;
        width: 100%;
        white-space: nowrap;
        min-width: 10ch;
      }
      .name > * {
        display: table-cell;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .level {
        transform: translateX(8px);
      }

      .assignee {
        display: flex;

        .label.more {
          transform: translateX(16px);
          z-index: 2;
        }
        .label:nth-child(2) {
          z-index: 3;
          transform: translateX(8px);
        }

        .label.avatar {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 8px;
          cursor: pointer;
          font-size: 12px;
          line-height: 16px;
          font-weight: 500;
          text-transform: capitalize;
          color: #eaeaea;
          background: #3d3d3d;
          width: 24px;
          height: 24px;
          border-radius: 999px;
          z-index: 4;
        }
      }
    }
  }
}
