<!--
* @Author                : Jbristhuille<jbristhuille@gmail.com>
* @CreatedDate           : 2023-09-21 15:40:00
* @LastEditors           : Jbristhuille<jbristhuille@gmail.com>
* @LastEditDate          : 2024-08-02 20:37:54
-->

<div class="ptt-list {{other}}" >
  <component-card>
    <div class="sort">
      <ng-content select="[sort]"/>
    </div>

    <ng-container *ngFor="let element of elements; let last = last; let first = first">
      <a  *ngIf="filterByVersion(element)"
          [routerLink]="['/'+type+'/'+element.id]"
          [ngClass]="first ? 'border-first' : last ? 'border-last' : ''"
          class="element">
        <div class="container">
          <div class="block">
            <div [tooltip]="element.status" class="status">
              <core-icon [icon]="element.status"></core-icon>
            </div>

            <div class="version">
              {{ element.targetVersionId | recovery:"name":"versions" | async }}
            </div>

            <div [tooltip]="element.name" class="name">
              <span>
                {{ element.name }}
              </span>
            </div>
          </div>

          <div class="block">
            <div class="label" *ngFor="let label of element.labels; let i = index" [ngClass]="{'hidden': i>1 || element.labels.length > 2 && i>0}">
              <component-labels [name]="label.labelId | recovery:'name':'labels' | async" [color]="label.labelId | recovery:'color':'labels' | async"></component-labels>
            </div>
            <div class="nowrap" *ngIf="element.labels.length > 2">+ {{element.labels.length - 1}}</div>

            <div class="level" [ngClass]="{'more': element.assignments.length > 2}">
              <component-level [level]="element.level"></component-level>
            </div>

            <div class="assignee" [ngClass]="{'gap': (element.assignments.length - 2) < 1}">
              <div class="label" *ngFor="let assignee of element.assignments; let i = index" [ngClass]="{'hidden' : i>1, 'more': (i==0 || i==1) && (element.assignments.length - 2) > 0}">
                <core-avatar  [showLabel]="false"
                              [tooltip]="assignee.userId | recovery:'name':'users' | async"
                              [size]="'medium'"
                              [imgLink]="assignee.userId | recovery:'picture':'users' | async"
                              [label]="assignee.userId | recovery:'name':'users' | async"/>
              </div>
              <div *ngIf="(element.assignments.length - 2) > 0" [tooltip]="'+' + (element.assignments.length - 2) + 'assignee'" class="label avatar">{{element.assignments.length - 2}}</div>
            </div>
          </div>
        </div>
      </a>
    </ng-container>

    <div *ngIf="other !== 'no-container'" class="element add-item">
      <div class="container add">
        <ng-content select="[add]"></ng-content>
      </div>
    </div>
  </component-card>
</div>
