<!--
* @Author                : Quentin<quentin@halfsquare.fr>
* @CreatedDate           : 2023-09-21 15:40:00
* @LastEditors           : Quentin<quentin@halfsquare.fr>
* @LastEditDate          : 2023-11-16 15:10:05
-->

<div class="ptt-list {{other}}" >
  <component-card>
    <div class="sort">
      <ng-content select="[sort]"/>
    </div>

    <ng-container *ngFor="let element of elements; let last = last; let first = first">
      <a *ngIf="filterByVersion(element)" [routerLink]="['/'+type+'/'+element.id]" [ngClass]="first ? 'border-first' : last ? 'border-last' : ''" class="element">
        <div class="container">
          <div class="block">
            <div class="status">
              <core-icon [icon]="element.status"></core-icon>
            </div>

            <div class="version">
              {{ element.targetVersionId | recovery:"name":"versions" | async }}
            </div>

            <div class="name">
              {{ element.name }}
            </div>
          </div>

          <div class="block">
            <div class="label" *ngFor="let label of element.labels">
              <component-labels [name]="label.name" [color]="label.color"></component-labels>
            </div>

            <div class="level">
              <component-level [level]="element.level"></component-level>
            </div>

            <div class="assignee">
              <div class="label" *ngFor="let assignee of element.assignments">
                <core-avatar  [showLabel]="false"
                              [size]="'medium'"
                              [imgLink]="assignee.userId | recovery:'picture':'users' | async"
                              [label]="assignee.userId | recovery:'name':'users' | async"/>
              </div>
            </div>
          </div>
        </div>
      </a>
    </ng-container>

    <div class="element add-item">
      <div class="container">
        <ng-content select="[add]"></ng-content>
      </div>
    </div>
  </component-card>
</div>
