<!--
* @Author                : Adrien Lanco<adrienlanco0@gmail.com>
* @CreatedDate           : 2023-03-24 11:48:00
* @LastEditors           : Adrien Lanco<adrienlanco0@gmail.com>
* @LastEditDate          : 2023-03-24 16:11:38
-->

<div [ngClass]="['select', type, size, other]">
  <div (click)="isOpen = !isOpen" class="control">
    <div class="selected">
      <i *ngIf="value.icon" class="{{'icon ' + value.icon}}"></i>
      {{ value.text ? value.text : placeholder }}
    </div>
    <div class="chevron">
      <i class="icon chevron-down"></i>
    </div>
  </div>

  <div @nested *ngIf="isOpen" class="menu">
    <ul class="options">
      <ng-container *ngIf="!content">
        <div *ngIf="!searchTerm && filteredOptions.length == 0">
          <li *ngFor="let option of options" (click)="selectOption(option)" class="option">
            <i *ngIf="option.icon" class="{{'icon ' + option.icon}}"></i>
            {{ option.text }}
          </li>
        </div>
        <div *ngIf="searchTerm && filteredOptions.length == 0">
          <li class="noResult">No result</li>
        </div>
        <li *ngFor="let option of filteredOptions" (click)="selectOption(option)" class="option">
          <i *ngIf="option.icon" class="{{'icon ' + option.icon}}"></i>
          {{ option.text }}
        </li>
      </ng-container>
      <ng-container>
        <ng-content></ng-content>
      </ng-container>
    </ul>
    <app-input *ngIf="search" [(value)]="searchTerm" type="scnd" (input)="filterOptions()" placeholder="Search..."></app-input>
  </div>
</div>
