<!--
* @Author                : Jbristhuille<jean-baptiste@halfsquare.fr>
* @CreatedDate           : 2023-05-09 16:12:00
* @LastEditors           : Jbristhuille<jean-baptiste@halfsquare.fr>
* @LastEditDate          : 2023-05-11 14:59:55
-->

<div id="profile-container">
  <div class="profile-form-container" *ngIf="user">
    <div class="avatar-upload" title="Upload avatar">
      <input type="file" accept="image/png, image/jpeg" (change)="uploadAvatar($event)">
      <app-avatar [userId]="user.id"
                  alt="User avatar"
                  [imgPath]="picturePath"
                  classes="big"
                  [userName]="user.name" />
    </div>

    <app-input  id="name"
                [isLabel]="true"
                label="Name"
                placeholder="ex: Jean-jacque"
                [(value)]="user.name"
                [disabled]="!isSelf()" />

    <app-input  id="email"
                [isLabel]="true"
                label="Email"
                placeholder="ex: Jean-jacque@mail.fr"
                [(value)]="user.email"
                [disabled]="!isSelf()" />

    <app-button *ngIf="user && isSelf()"
                class="save-button"
                label="Save"
                (click)="saveUser()"/>
  </div>
</div>
