/*****************************************************************************
 * @Author                : 0K00<qdouvillez@gmail.com>                       *
 * @CreatedDate           : 2023-02-27 14:46:55                              *
 * @LastEditors           : 0K00<qdouvillez@gmail.com>                       *
 * @LastEditDate          : 2023-03-24 11:10:23                              *
 *                                                                           *
 ****************************************************************************/

@font-face {
    font-family: 'icon';
    src:  url('/assets/fonts/icon.eot?riv4pf');
    src:  url('/assets/fonts/icon.eot?riv4pf#iefix') format('embedded-opentype'),
    url('/assets/fonts/icon.ttf?riv4pf') format('truetype'),
    url('/assets/fonts/icon.woff?riv4pf') format('woff'),
    url('/assets/fonts/icon.svg?riv4pf#icon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

  [class^="icon"], [class*=" icon"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon.filtersfill:before {
    content: "\e900";
  }
  .icon.alt:before {
    content: "\e901";
  }
  .icon.arrowbottom-left:before {
    content: "\e902";
  }
  .icon.arrowbottom-right:before {
    content: "\e903";
  }
  .icon.arrowdown:before {
    content: "\e904";
  }
  .icon.arrowleft:before {
    content: "\e905";
  }
  .icon.arrowright:before {
    content: "\e906";
  }
  .icon.arrowtop-left:before {
    content: "\e907";
  }
  .icon.arrowtop-right:before {
    content: "\e908";
  }
  .icon.arrowup:before {
    content: "\e909";
  }
  .icon.backspace:before {
    content: "\e90a";
  }
  .icon.bell:before {
    content: "\e90b";
  }
  .icon.box:before {
    content: "\e90c";
  }
  .icon.bubble:before {
    content: "\e90d";
  }
  .icon.bulbgear:before {
    content: "\e90e";
  }
  .icon.bulb:before {
    content: "\e90f";
  }
  .icon.burger:before {
    content: "\e910";
  }
  .icon.check:before {
    content: "\e911";
  }
  .icon.chevron-down:before {
    content: "\e912";
  }
  .icon.chevron-left:before {
    content: "\e913";
  }
  .icon.chevron-right:before {
    content: "\e914";
  }
  .icon.chevron-up:before {
    content: "\e915";
  }
  .icon.clipboard:before {
    content: "\e916";
  }
  .icon.close:before {
    content: "\e917";
  }
  .icon.code:before {
    content: "\e918";
  }
  .icon.cross-1:before {
    content: "\e919";
  }
  .icon.cross-2:before {
    content: "\e91a";
  }
  .icon.dashboard:before {
    content: "\e91b";
  }
  .icon.done:before {
    content: "\e91c";
  }
  .icon.dotshorizontal:before {
    content: "\e91d";
  }
  .icon.dotsvertical:before {
    content: "\e91e";
  }
  .icon.download:before {
    content: "\e91f";
  }
  .icon.enter:before {
    content: "\e920";
  }
  .icon.eye:before {
    content: "\e921";
  }
  .icon.filter:before {
    content: "\e922";
  }
  .icon.filters:before {
    content: "\e923";
  }
  .icon.flagadd:before {
    content: "\e924";
  }
  .icon.flagnew:before {
    content: "\e925";
  }
  .icon.flag:before {
    content: "\e926";
  }
  .icon.gearcheck:before {
    content: "\e927";
  }
  .icon.gear:before {
    content: "\e928";
  }
  .icon.headphone:before {
    content: "\e929";
  }
  .icon.heartfill:before {
    content: "\e92a";
  }
  .icon.heart:before {
    content: "\e92b";
  }
  .icon.hs:before {
    content: "\e92c";
  }
  .icon.human:before {
    content: "\e92d";
  }
  .icon.humans:before {
    content: "\e92e";
  }
  .icon.layer:before {
    content: "\e92f";
  }
  .icon.level:before {
    content: "\e930";
  }
  .icon.linknone-1:before {
    content: "\e931";
  }
  .icon.linknone-2:before {
    content: "\e932";
  }
  .icon.link:before {
    content: "\e933";
  }
  .icon.link-1:before {
    content: "\e934";
  }
  .icon.link-2:before {
    content: "\e935";
  }
  .icon.map:before {
    content: "\e936";
  }
  .icon.minus:before {
    content: "\e937";
  }
  .icon.new:before {
    content: "\e938";
  }
  .icon.open:before {
    content: "\e939";
  }
  .icon.page:before {
    content: "\e93a";
  }
  .icon.panel:before {
    content: "\e93b";
  }
  .icon.picture:before {
    content: "\e93c";
  }
  .icon.plus:before {
    content: "\e93d";
  }
  .icon.progress:before {
    content: "\e93e";
  }
  .icon.puzzle:before {
    content: "\e93f";
  }
  .icon.reject:before {
    content: "\e940";
  }
  .icon.roundfill:before {
    content: "\e941";
  }
  .icon.round:before {
    content: "\e942";
  }
  .icon.roundchart:before {
    content: "\e943";
  }
  .icon.search:before {
    content: "\e944";
  }
  .icon.upload:before {
    content: "\e945";
  }
  .icon.wait:before {
    content: "\e946";
  }
