/*****************************************************************************
 * @Author                : Adrien Lanco<adrienlanco0@gmail.com>             *
 * @CreatedDate           : 2023-03-17 16:39:05                              *
 * @LastEditors           : Adrien Lanco<adrienlanco0@gmail.com>             *
 * @LastEditDate          : 2023-03-18 00:47:24                              *
 ****************************************************************************/

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
}
