/*****************************************************************************
 * @Author                : Adrien Lanco<adrienlanco0@gmail.com>             *
 * @CreatedDate           : 2023-04-18 16:08:16                              *
 * @LastEditors           : Adrien Lanco<adrienlanco0@gmail.com>             *
 * @LastEditDate          : 2023-04-18 16:45:22                              *
 ****************************************************************************/

:host {
  width: 100%;
}


.activity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 16px 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);

  &:hover {
    background-color: rgba(255, 255, 255, 0.08);
  }

  &:hover .element .ptt .name {
    text-decoration: underline;
  }

  &.small {
    .action, .name {
      font-size: 12px;
    }
  }
}

.activity.small {
  padding: 8px;
  border-bottom: none;
  border-radius: 4px;
  width: calc(100% - 16px);
  max-width: calc(100% - 16px);

  .element {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .element {
    width: 100%;
    max-width: 100%;

    .author + .action {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .action + .ptt {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }


    .name {
      font-size: 12px;
      line-height: 16px;
    }
    .action {
      gap: 4px;
      div {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .ptt {
      a {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }

  .date {
    white-space: nowrap;
  }
}

.element {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  .author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.48);
    max-width: 100px;
    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .action {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.64);
    display: flex;
    align-items: center;
    gap: 8px;
    div {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 200px;
    }
  }

  .ptt {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;
    }

    .name {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.96);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 150px;
    }
  }
}

.date {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.48);
  white-space: nowrap;
}


@media (max-width: 864px) {
  .activity {
    display: flex;
    flex-direction: row;
    gap: 16px;

    .element {
      display: flex;
      flex-direction: row;
      gap: 16px;

      .action div {
        max-width: 100px;
      }

      .author span {
        display: none;
      }

      .ptt {
        max-width: inherit;
        min-width: inherit;
      }
    }
  }
}

@media (max-width: 376px) {
  .activity .date {
    display: none;
  }
}
