<!--
* @Author                : 0K00<qdouvillez@gmail.com>
* @CreatedDate           : 2023-04-18 16:14:00
* @LastEditors           : 0K00<qdouvillez@gmail.com>
* @LastEditDate          : 2023-04-21 12:26:42
-->

<div class="activity" [ngClass]="{ small: small }">
  <div class="element">
    <div class="author">
      <app-avatar [userId]="activity.author.id" [userName]="activity.author.name"></app-avatar>
      <span *ngIf="!small">{{ activity.author.name }}</span>
    </div>
    <div class="action">
      <p>{{ activity.action }}</p>
      <ng-container *ngIf="activity.target">
        <div *ngIf="activity.target" class="img"><app-avatar [id]="activity.target.name" [userName]="activity.target.name" /></div>
      </ng-container>
      <ng-container *ngIf="activity.label">
        <app-labels name="{{activity.label.name}}" color="{{activity.label.color}}"></app-labels>
      </ng-container>
      <ng-container *ngIf="activity.type && activity.value">
        <div *ngIf="activity.type == 'name'">name {{ activity.value }}</div>
        <div *ngIf="activity.type == 'version'">version {{ activity.value }}</div>
        <app-status *ngIf="activity.type =='status'" [status]="activity.value" />
        <app-level *ngIf="activity.type == 'level'" [degree]="activity.value" />
      </ng-container>

    </div>
    <div class="ptt">
      <a *ngIf="activity.project && !activity.task && !activity.ticket" [href]="'project/'+activity.project.id">
        <span class="name">{{ activity.project.name }}</span>
      </a>
      <a *ngIf="activity.task && !activity.ticket" [href]="'task/'+activity.task.id">
        <span class="name">{{ activity.task.name }}</span>
      </a>
      <a *ngIf="activity.ticket" [href]="'ticket/'+activity.ticket.id">
        <span class="name">{{ activity.ticket.name }}</span>
      </a>
    </div>
  </div>
  <div class="date">
    {{ activity.created | dateDifference }}
  </div>
</div>
